Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint, pkg-deps

remark:
  run: npx remark --no-stdout {staged_files}

swiftlint:
  run: npx node-swiftlint lint --strict --path {staged_files}

pkg-deps:
  run: npx jest test/package-json.test.ts

refactor(cli/doctor): move handler function to cmds/
  packages/cli/src/cmds/doctor.ts
  packages/cli/src/doctor/connection.ts
  packages/cli/src/doctor/cordova.ts
  packages/cli/src/doctor/index.ts
  packages/cli/src/doctor/ios.ts
Due: none

chore(cli): update test ID error message
  packages/cli/package.json
  packages/cli/src/doctor/node.ts
  pnpm-lock.yaml
Due: none

refactor(cli/doctor): extract ios.checkSDK
  package.json
  packages/cli/src/cmds/doctor.ts
  packages/cli/src/doctor/android.ts
  packages/cli/src/doctor/cocoapods.ts
  packages/cli/src/doctor/ios.ts
Due: pkg-deps

chore(internal): remove rollup-config
  .eslintignore
  .github/workflows/ci.yml
  internal/rollup-config/.gitignore
  internal/rollup-config/cordova.ts
  internal/rollup-config/package.json
  internal/rollup-config/project.json
  internal/rollup-config/tsconfig.json
  packages/cordova-native/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/CHANGELOG.md
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  pnpm-lock.yaml
Due: remark

chore(cordova): add keywords
  packages/cordova/package.json
Due: none

build(pkg-proxy): move build script
  packages/pkg-proxy/package.json
  packages/pkg-proxy/project.json
Due: none

feat(consent/android): update UMP_VERSION to v2.0.0
  packages/cordova-consent/package.json
  packages/cordova-consent/plugin.xml
  packages/cordova-consent/src/android/Consent.kt
  packages/cordova-consent/src/android/ExecuteContext.kt
  packages/cordova-consent/src/www/index.ts
  packages/cordova-consent/tsconfig.json
Due: none

feat(example/playground): add consent page
  examples/cordova-consent/package.json
  examples/playground/package.json
  examples/playground/src/App.tsx
  examples/playground/src/pages/Consent.tsx
  examples/playground/src/vite-env.d.ts
  package.json
  pnpm-lock.yaml
Due: pkg-deps

build: remove npx in version script
  package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  pnpm-lock.yaml
Due: pkg-deps

ci(github): pnpm install fallback
  .github/workflows/ci.yml
  nx.json
  packages/cordova/package.json
  packages/cordova/project.json
  packages/cordova/tsconfig.json
  pnpm-lock.yaml
Due: none

build(example/playground): remove tee usage
  examples/playground/package.json
  examples/playground/scripts/postinstall.ts
  pnpm-lock.yaml
Due: none

chore(cordova-native): update dependencies
  packages/cordova-native/package.json
  packages/cordova-native/tsconfig.json
  pnpm-lock.yaml
Due: none

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova-consent/plugin.xml
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/CHANGELOG.md
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/pkg-proxy/CHANGELOG.md
  packages/pkg-proxy/package.json
  pnpm-lock.yaml
Due: remark

fix(cordova/android): resolve on duplicate start()
  packages/cordova/src/android/cordova/AdMob.kt
Due: none

refactor(cordova): move start state to AdMob class
  packages/cordova/src/www/ads/base.ts
  packages/cordova/src/www/index.ts
Due: none

chore(cordova): simplify MobileAd.init()
  packages/cordova/src/www/ads/base.ts
Due: none

chore(cordova): store ads in global object
  packages/cordova/src/www/ads/base.ts
Due: none

fix(cordova/android): ignore exception, fix #588
  examples/playground/package.json
  package.json
  packages/cordova/src/android/cordova/ads/Banner.kt
  pnpm-lock.yaml
Due: pkg-deps

build(example/playground): output pretty package.json
  examples/playground/scripts/postinstall.ts
Due: none

docs(cordova): add compare table
  packages/cordova/README.md
Due: remark

test(example/cordova): remove test
  examples/cordova/package.json
  examples/cordova/test/build.test.ts
  examples/cordova/test/wdio.env.ts
  examples/cordova/test/wdio.test.ts
  package.json
  pnpm-lock.yaml
Due: pkg-deps

chore(cordova): add browser platform
  package.json
  packages/cordova/package.json
  pnpm-lock.yaml
Due: pkg-deps

refactor(scripts/gen): extract Generator class
  scripts/gen/cordova.ts
  scripts/gen/index.ts
Due: none

chore(cordova): update AdMobProxy
  packages/cordova/src/browser/AdMobProxy.js
  pnpm-lock.yaml
  scripts/gen/cordova.ts
  scripts/package.json
Due: none

feat(scripts): add docs generator
  pnpm-lock.yaml
  scripts/gen/docs.ts
  scripts/gen/index.ts
  scripts/package.json
  website/package.json
  website/scripts/gen.ts
Due: none

docs(cordova): add feature list
  package.json
  packages/cli/package.json
  packages/cordova/README.md
  packages/cordova/package.json
  pnpm-lock.yaml
Due: remark, pkg-deps

build: add test-android and test-ios scripts
  .github/workflows/ci.yml
  examples/cordova/project.json
  package.json
Due: pkg-deps

chore(pkg-proxy): replace escalade with find-up
  examples/cordova/project.json
  package.json
  packages/pkg-proxy/package.json
  packages/pkg-proxy/src/index.ts
  packages/pkg-proxy/tsconfig.json
  pnpm-lock.yaml
Due: pkg-deps

build: update packageManager to pnpm@8.6.1
  .github/workflows/ci.yml
  examples/cordova/project.json
  package.json
  pnpm-lock.yaml
Due: pkg-deps

build: type check docusaurus config
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  website/tsconfig.json
Due: none

docs(cordova): fix broken links
  packages/cordova/README.md
Due: remark

ci(github): upload npm log on error
  .github/workflows/ci.yml
  examples/cordova/package.json
  examples/cordova/project.json
  internal/npm-bin/package.json
  internal/npm-bin/src/npm.ts
  package.json
  packages/cordova-native/package.json
  pnpm-lock.yaml
  project.json
  scripts/package.json
Due: pkg-deps

docs(cordova-webview-ad): add README
  packages/cordova-webview-ad/README.md
Due: remark

docs(cordova): add disclaimer
  README.md
  packages/cordova/README.md
Due: remark

docs(cordova): fix npm license link
  examples/ionic-angular/package.json
  packages/cordova/README.md
  pnpm-lock.yaml
  website/docs/index.md
Due: remark

test(example/ionic-angular): set CHROME_BIN
  examples/cordova/project.json
  examples/ionic-angular/karma.conf.js
  examples/ionic-angular/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
  pkg-deps: any of: package.json
