Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

remark:
  run: yarn remark --no-stdout {staged_files}

swiftlint:
  run: yarn node-swiftlint lint --strict --path {staged_files}

fix(internal/cli): fix dependencies path
  internal/cli/package.json
Due: none

feat(internal/cli): add example dev command
  examples/react-native/package.json
  internal/cli/package.json
  internal/cli/src/example.ts
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

feat(react-native/ios): implement reward ads
  packages/react-native/ios/AdMobPlusRN.swift
Due: swiftlint

chore(react-native/ios): send event only when there are listeners
  packages/react-native/ios/AMBAdBase.swift
  packages/react-native/ios/AdMobPlusRN.swift
Due: swiftlint

feat(internal/cli): handle dev command for cordova example
  internal/cli/src/example.ts
Due: none

fix(cordova/android): prevent crash, fix #320
  packages/cordova/src/android/ads/Banner.java
Due: none

chore(cordova/ios): respect marginTop when statusBarBackgroundView exists, fix #321
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

chore(release): publish
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

build(react-native): exclude build files from publishing
  packages/react-native/package.json
Due: none

feat(cordova/android): New admob.banner.size event to get banner width/height
  packages/cordova/src/android/Generated.java
  packages/cordova/src/android/ads/Banner.java
  packages/cordova/src/ios/AMBGenerated.swift
  website/docs/cordova/ads/banner.md
Due: remark, swiftlint

fix(cordova/ios): activate constraint only when stack view is added, fix #323
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

feat(cordova/android): add admob.banner.size event to get banner width/height (#322)
  packages/cordova/src/android/Generated.java
  packages/cordova/src/android/ads/Banner.java
  packages/cordova/src/ios/AMBGenerated.swift
  website/docs/cordova/ads/banner.md
Due: remark, swiftlint

docs(cordova): hid `admob.banner.size` event until ios implementation ready
  website/docs/cordova/ads/banner.md
Due: remark

fix(cordova/android): prevent crash, fix #325
  packages/cordova/src/android/ExecuteContext.java
Due: none

docs: update API docs
  website/docs/capacitor/api/classes/bannerad.md
  website/docs/capacitor/api/classes/interstitialad.md
  website/docs/capacitor/api/classes/rewardedad.md
  website/docs/capacitor/api/classes/rewardedinterstitialad.md
  website/docs/capacitor/api/enums/maxadcontentrating.md
  website/docs/capacitor/api/index.md
  website/docs/capacitor/api/interfaces/admobplusplugin.md
  website/docs/capacitor/api/interfaces/banneradoptions.md
  website/docs/cordova/api/classes/admob.md
  website/docs/cordova/api/classes/bannerad.md
  website/docs/cordova/api/classes/interstitialad.md
  website/docs/cordova/api/classes/mobilead.md
  website/docs/cordova/api/classes/rewardedad.md
  website/docs/cordova/api/classes/rewardedinterstitialad.md
  website/docs/cordova/api/enums/adsizetype.md
  website/docs/cordova/api/enums/events.md
  website/docs/cordova/api/enums/maxadcontentrating.md
  website/docs/cordova/api/enums/nativeactions.md
  website/docs/cordova/api/enums/platforms.md
  website/docs/cordova/api/enums/trackingauthorizationstatus.md
  website/docs/cordova/api/index.md
  website/docs/cordova/api/interfaces/banneradoptions.md
  website/docs/cordova/api/interfaces/rewardedadoptions.md
  website/docs/cordova/api/interfaces/rewardedinterstitialadoptions.md
  website/docs/cordova/api/interfaces/serversideverificationoptions.md
  website/docs/cordova/consent/api/classes/consent.md
  website/docs/cordova/consent/api/classes/consentform.md
  website/docs/cordova/consent/api/enums/consentstatus.md
  website/docs/cordova/consent/api/enums/debuggeography.md
  website/docs/cordova/consent/api/enums/formstatus.md
  website/docs/cordova/consent/api/index.md
  website/docs/ionic/api/classes/admob.md
  website/docs/ionic/api/classes/bannerad.md
  website/docs/ionic/api/classes/interstitialad.md
  website/docs/ionic/api/classes/rewardedad.md
  website/docs/ionic/api/classes/rewardedinterstitialad.md
  website/docs/ionic/api/enums/trackingauthorizationstatus.md
  website/docs/ionic/api/index.md
  website/package.json
Due: remark

chore(release): publish
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

refactor(cli): set default filename for readPackageJson()
  packages/cli/src/doctor/index.ts
  packages/cli/src/doctor/node.ts
Due: none

feat(pkg-proxy): init package
  package.json
  packages/pkg-proxy/.gitignore
  packages/pkg-proxy/package.json
  packages/pkg-proxy/src/index.ts
  packages/pkg-proxy/test.ts
  packages/pkg-proxy/tsconfig.json
  tsconfig.json
Due: none

refactor(cli): utilize pkg-proxy
  packages/cli/package.json
  packages/cli/src/doctor/cordova.ts
  packages/cli/src/doctor/index.ts
  packages/cli/src/doctor/listr.ts
  packages/cli/src/doctor/node.ts
Due: none

chore(cordova/android): avoid adding adView twice
  packages/cordova/src/android/ads/Banner.java
Due: none

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/pkg-proxy/CHANGELOG.md
  packages/pkg-proxy/package.json
Due: remark

chore(cordova/android): do nothing when ad view is null
  packages/cordova/src/android/ads/Banner.java
Due: none

chore(cordova/android): set mAdViewOld to null after remove
  packages/cordova/src/android/ads/Banner.java
Due: none

refactor(cordova/android): rename getParentViewWithout() to removeFromParentView()
  packages/cordova/src/android/ads/Banner.java
Due: none

ci(github): build pkg-proxy
  .github/workflows/nodejs.yml
Due: none

ci: run tsc post install
  .github/workflows/nodejs.yml
  package.json
  website/.gitignore
  website/package.json
  website/tsconfig.json
Due: none

fix(cordova/android): check layouts are not null
  packages/cordova/src/android/ads/Banner.java
Due: none

build(ionic): remove tsconfig.build.json
  packages/ionic/.gitignore
  packages/ionic/scripts/build.ts
  packages/ionic/src/ngx/index.ts
  packages/ionic/tsconfig.build.json
  packages/ionic/tsconfig.json
  tsconfig.json
Due: none

feat(cordova/ios): admob.banner.size event also fires on iOS
  packages/cordova/src/ios/AMBBanner.swift
  website/docs/cordova/ads/banner.md
Due: remark, swiftlint

docs(cordova): add values in docs
  website/docs/cordova/consent/request.md
Due: remark

refactor(cli): remove read-pkg-up
  packages/cli/package.json
  packages/cli/src/cmds/info.ts
Due: none

build: exit 0 in postinstall:ts
  package.json
Due: none

build(pkg-proxy): emit CommonJS module
  packages/pkg-proxy/tsconfig.json
Due: none

chore(cli): update yargs
  packages/cli/package.json
  packages/cli/tsconfig.json
Due: none

chore(pkg-proxy): relax PackageJson
  packages/pkg-proxy/src/index.ts
Due: none

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
