Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint -e

pre-commit:
  parallel: true
  commands:
    fixer:
      run: >
        lefthook run fixer &&
        git add {staged_files}
    remark:
      glob: "*.md"
      run: yarn remark --no-stdout {staged_files}
    swiftlint:
      glob: "*.swift"
      run: yarn node-swiftlint lint --strict --path {staged_files}

pre-push:
  parallel: true
  commands:
    jest:
      run: yarn jest

fixer:
  parallel: true
  commands:
    js-fixer:
      glob: "*.{js,jsx,ts,tsx}"
      run: >
        yarn prettier-eslint --write {staged_files} &&
        yarn eslint --ext .js,.jsx,.ts,tsx --fix {staged_files}
    pkg-json-fixed:
      glob: examples/*/package.json
      run: yarn prettier --write {staged_files}

fix(capacitor/ios): do not clear ad on present, fix #358
  examples/cordova/www/js/index.js
  packages/cordova/src/ios/AMBAppOpenAd.swift
Due: swiftlint

feat(cordova/ios): export load(), show() for app open ad
  examples/cordova/www/js/index.js
  internal/cli/src/gen/admob.ts
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/browser/AdMobProxy.js
  packages/cordova/src/ios/AMBAdBase.swift
  packages/cordova/src/ios/AMBAppOpenAd.swift
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/generated.ts
  packages/cordova/ts/native.ts
Due: swiftlint

feat(cordova/ios): export AppOpenAd.isLoaded()
  internal/cli/src/gen/admob.ts
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/browser/AdMobProxy.js
  packages/cordova/src/ios/AMBAdBase.swift
  packages/cordova/src/ios/AMBAppOpenAd.swift
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/generated.ts
Due: swiftlint

feat(cordova/android): implement GenericAd for AppOpenAd
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/ads/AppOpen.java
  packages/cordova/src/android/cordova/ads/GenericAd.java
Due: none

chore(cordova): remove appOpenTryToPresent action
  internal/cli/src/gen/admob.ts
  packages/cordova/plugin.xml
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/android/cordova/ads/AppOpen.java
  packages/cordova/src/browser/AdMobProxy.js
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/generated.ts
Due: none

refactor(cordova): rename createAd action to adCreate
  internal/cli/src/gen/admob.ts
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/browser/AdMobProxy.js
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/generated.ts
  packages/cordova/ts/native.ts
Due: swiftlint

docs: geneate API docs
  packages/ionic/src/ngx/index.ts
  website/docs/cordova/api/classes/admob.md
  website/docs/cordova/api/classes/managednativead.md
  website/docs/cordova/api/classes/mobilead.md
  website/docs/cordova/api/classes/nativead.md
  website/docs/cordova/api/enums/adsizetype.md
  website/docs/cordova/api/enums/events.md
  website/docs/cordova/api/enums/nativeactions.md
  website/docs/cordova/api/index.md
  website/docs/cordova/api/interfaces/banneradoptions.md
  website/docs/cordova/api/interfaces/rewardedadoptions.md
  website/docs/cordova/api/interfaces/rewardedinterstitialadoptions.md
  website/docs/ionic/api/classes/admob.md
  website/docs/ionic/api/enums/trackingauthorizationstatus.md
Due: remark

docs(cordova): update AppOpenAd documentation
  website/docs/cordova/ads/app-open.md
Due: remark

fix(cordova/android): return boolean from AppOpenAd.show()
  packages/cordova/src/android/cordova/AdMob.java
Due: none

fix(capacitor/android): emit event to plugin listeners, fix #350
  examples/capacitor/src/main.js
  packages/capacitor/android/src/main/java/admob/plus/capacitor/AdMobPlusPlugin.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ExecuteContext.java
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

chore(cordova): extend NativeAd from GenericAd
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/native.ts
Due: swiftlint

feat(cordova): introduce createAd()
  packages/cordova/ts/api.ts
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/index.ts
  packages/cordova/ts/native.ts
Due: none

refactor(cordova): extract createAd() to actions
  packages/cordova/ts/actions.ts
  packages/cordova/ts/api.ts
  packages/cordova/ts/index.ts
Due: none

chore(cordova/ios): extract AMBManagedNativeAd
  examples/cordova/www/js/index.js
  packages/cordova/src/ios/AMBNativeAd.swift
Due: swiftlint

chore(cordova): extend ManagedNativeAd from GenericAd
  examples/cordova/www/js/index.js
  packages/cordova/src/ios/AMBNativeAd.swift
  packages/cordova/ts/native.ts
Due: swiftlint

chore(cordova): export admob.createAd()
  packages/cordova/ts/actions.ts
  packages/cordova/ts/index.ts
  packages/cordova/ts/native.ts
  packages/cordova/ts/shared.ts
  packages/ionic/src/ngx/index.ts
Due: none

feat(cordova): add frame options to ManagedNativeAd.show()
  examples/cordova/www/js/index.js
  packages/cordova/src/ios/AMBAdBase.swift
  packages/cordova/src/ios/AMBAppOpenAd.swift
  packages/cordova/src/ios/AMBNativeAd.swift
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/native.ts
Due: swiftlint

feat(cordova): add ManagedNativeAd.hide()
  examples/cordova/www/js/index.js
  packages/cordova/src/ios/AMBAdBase.swift
  packages/cordova/src/ios/AMBNativeAd.swift
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/ts/native.ts
Due: swiftlint

chore(cordova/ios): store AMBNativeAd ref in AMBManagedNativeAd
  packages/cordova/src/ios/AMBNativeAd.swift
Due: swiftlint

feat(cordova/ios): add AMBPlugin.registerNativeAdViewProviders()
  packages/cordova/src/ios/AMBNativeAd.swift
  packages/cordova/src/ios/AMBPlugin.swift
Due: swiftlint

docs(github): remove feature request template
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: remark

feat(cordova): remove ManagedNativeAd
  examples/cordova/www/js/index.js
  packages/cordova/src/ios/AMBNativeAd.swift
  packages/cordova/ts/index.ts
  packages/cordova/ts/native.ts
  packages/ionic/src/ngx/index.ts
Due: swiftlint

chore: update dependencies
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/react-native/package.json
  website/package.json
Due: none

build(example/react-native): config yarn workspaces
  examples/react-native/.yarnrc.yml
  examples/react-native/package.json
Due: none

feat(cordova/android): implement Native ad
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/AdViewProvider.java
  packages/cordova/src/android/cordova/ads/AdBase.java
  packages/cordova/src/android/cordova/ads/AppOpen.java
  packages/cordova/src/android/cordova/ads/Banner.java
  packages/cordova/src/android/cordova/ads/GenericAd.java
  packages/cordova/src/android/cordova/ads/Native.java
Due: none

feat(internal/cli): handle react-native example prepare
  examples/react-native/package.json
  internal/cli/src/example.ts
Due: none

chore(cordova/android): add android files to plugin.xml
  packages/cordova/plugin.xml
Due: none

chore: update dependencies
  examples/ionic-angular/package.json
  examples/playground/package.json
  package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
  website/package.json
Due: none

refactor(react-native/ios): rewrite using GenericAd
  .eslintignore
  .eslintrc.js
  internal/cli/src/gen/rn.ts
  packages/react-native/ios/AMBAdBase.swift
  packages/react-native/ios/AMBContext.swift
  packages/react-native/ios/AMBGenerated.swift
  packages/react-native/ios/AMBInterstitial.swift
  packages/react-native/ios/AMBRewarded.swift
  packages/react-native/ios/AMBRewardedInterstitial.swift
  packages/react-native/ios/AdMobPlusRN.m
  packages/react-native/ios/AdMobPlusRN.swift
  packages/react-native/package.json
  packages/react-native/src/definitions.ts
  packages/react-native/src/index.ts
Due: swiftlint

feat(react-native/ios): emit ad.reward event
  internal/cli/src/gen/capacitor.ts
  packages/capacitor/android/src/main/java/admob/plus/capacitor/Generated.java
  packages/capacitor/ios/Plugin/AMBGenerated.swift
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/ios/AMBGenerated.swift
  packages/cordova/ts/generated.ts
  packages/react-native/ios/AMBGenerated.swift
  packages/react-native/ios/AMBRewarded.swift
  packages/react-native/ios/AMBRewardedInterstitial.swift
Due: swiftlint

feat(react-native/ios): clear ads after show
  packages/react-native/ios/AMBInterstitial.swift
  packages/react-native/ios/AMBRewarded.swift
  packages/react-native/ios/AMBRewardedInterstitial.swift
Due: swiftlint

refactor(react-native/android): rewrite using GenericAd
  examples/react-native/App.tsx
  examples/react-native/android/app/src/main/AndroidManifest.xml
  examples/react-native/android/build.gradle
  examples/react-native/package.json
  internal/cli/src/gen/rn.ts
  packages/react-native/android/build.gradle
  packages/react-native/android/src/main/java/admob/plus/rn/ExecuteContext.java
  packages/react-native/android/src/main/java/admob/plus/rn/Generated.java
  packages/react-native/android/src/main/java/admob/plus/rn/RNAdMobPlusModule.java
  packages/react-native/android/src/main/java/admob/plus/rn/ads/GenericAd.java
  packages/react-native/android/src/main/java/admob/plus/rn/ads/Interstitial.java
  packages/react-native/android/src/main/java/admob/plus/rn/ads/Rewarded.java
  packages/react-native/android/src/main/java/admob/plus/rn/ads/RewardedInterstitial.java
  packages/react-native/react-native.config.js
Due: none

feat(react-native/android): rename package from RNAdMobPlusPackage to AdMobPlusRNPackage
  packages/react-native/android/src/main/java/admob/plus/rn/AdMobPlusRNModule.java
  packages/react-native/android/src/main/java/admob/plus/rn/AdMobPlusRNPackage.java
  packages/react-native/android/src/main/java/admob/plus/rn/ExecuteContext.java
  packages/react-native/react-native.config.js
Due: none

fix(react-native/android): implements GenericAd
  packages/react-native/android/src/main/java/admob/plus/rn/ads/Interstitial.java
  packages/react-native/android/src/main/java/admob/plus/rn/ads/Rewarded.java
  packages/react-native/android/src/main/java/admob/plus/rn/ads/RewardedInterstitial.java
Due: none

fix(react-native/ios): update AMBContext.ads in main thread
  examples/react-native/App.tsx
  packages/react-native/ios/AMBAdBase.swift
  packages/react-native/ios/AdMobPlusRN.swift
  packages/react-native/src/index.ts
Due: swiftlint

feat(internal/cli): handle cordova-consent example dev
  internal/cli/src/example.ts
Due: none

feat(cordova-native): move native ad view code to its own package
  examples/cordova/config.xml
  examples/cordova/package.json
  internal/cli/package.json
  internal/cli/src/example.ts
  internal/cli/src/gen/cordova-native.ts
  internal/cli/src/gen/index.ts
  package.json
  packages/capacitor/android/src/main/java/admob/plus/AdMobHelper.java
  packages/cordova-native/.gitignore
  packages/cordova-native/README.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-native/rollup.config.js
  packages/cordova-native/src/android/AdViewProvider.java
  packages/cordova-native/src/android/Plugin.java
  packages/cordova-native/src/android/res/layout/ad_unified.xml
  packages/cordova-native/src/ios/AMNAdView.xcassets/stars_3_5.imageset/Contents.json
  packages/cordova-native/src/ios/AMNAdView.xcassets/stars_3_5.imageset/stars_3_5.png
  packages/cordova-native/src/ios/AMNAdView.xcassets/stars_4.imageset/Contents.json
  packages/cordova-native/src/ios/AMNAdView.xcassets/stars_4.imageset/stars_4.png
  packages/cordova-native/src/ios/AMNAdView.xcassets/stars_4_5.imageset/Contents.json
  packages/cordova-native/src/ios/AMNAdView.xcassets/stars_4_5.imageset/stars_4_5.png
  packages/cordova-native/src/ios/AMNAdView.xcassets/stars_5.imageset/Contents.json
  packages/cordova-native/src/ios/AMNAdView.xcassets/stars_5.imageset/stars_5.png
  packages/cordova-native/src/ios/AMNAdView.xib
  packages/cordova-native/src/ios/AMNAdViewProvider.swift
  packages/cordova-native/src/ios/AdMobNativePlugin.swift
  packages/cordova-native/ts/index.ts
  packages/cordova-native/tsconfig.json
  packages/cordova/plugin.xml
  packages/cordova/src/android/AdMobHelper.java
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/AdViewProvider.java
  packages/cordova/src/android/cordova/ads/Banner.java
  packages/cordova/src/android/cordova/ads/Native.java
  packages/cordova/src/ios/AMBNativeAd.swift
  packages/cordova/src/ios/AMBPlugin.swift
  tsconfig.json
Due: remark, swiftlint
