Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint, pkg-deps

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: npx commitlint -e

pre-commit:
  parallel: true
  commands:
    fixer:
      run: >
        lefthook run fixer &&
        git add {staged_files}
    remark:
      glob: "*.md"
      run: npx remark --no-stdout {staged_files}
    swiftlint:
      glob: "*.swift"
      run: npx node-swiftlint lint --strict --path {staged_files}
    pkg-deps:
      glob: package.json
      run: npx jest test/package-json.test.ts

pre-push:
  parallel: true
  commands:
    jest:
      run: npx nx jest .

fixer:
  parallel: true
  commands:
    js-fixer:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx gts fix {staged_files}
    pkg-json-fixed:
      glob: examples/*/package.json
      run: npx prettier --write {staged_files}

build: lint with biome
  flake.nix
  package.json
  packages/cordova-native/src/android/AdViewProvider.kt
  packages/cordova/src/android/cordova/AdMob.kt
  packages/cordova/src/android/cordova/ads/Banner.kt
  pnpm-lock.yaml
Due: pkg-deps

Update users.ts
  website/src/data/users.ts
Due: none

feat(cordova/android): support publisherFirstPartyIDEnabled
  examples/playground/package.json
  package.json
  packages/cordova/package.json
  packages/cordova/src/android/cordova/AdMob.kt
  packages/cordova/src/android/cordova/ads/AdBase.kt
  packages/cordova/src/ios/AMBCore.swift
  pnpm-lock.yaml
  website/package.json
Due: swiftlint, pkg-deps

docs(users): update users.ts (#655)
  website/src/data/users.ts
Due: none

chore: update dependencies
  examples/playground/package.json
  package.json
  packages/cordova/package.json
  pnpm-lock.yaml
  scripts/package.json
  website/package.json
Due: pkg-deps

feat(cordova/ios): update Google-Mobile-Ads-SDK to 11.0.1
  examples/playground/config.xml
  packages/cordova/plugin.xml
Due: none

feat(cordova-consent/ios): update GoogleUserMessagingPlatform to 2.2.0
  examples/cordova-consent/config.xml
  packages/cordova-consent/package.json
  packages/cordova-consent/plugin.xml
Due: none

feat(consent/android): update UMP_VERSION to v2.2.0
  examples/cordova-consent/config.xml
  examples/cordova-consent/package.json
  package.json
  packages/cordova-consent/plugin.xml
  pnpm-lock.yaml
  website/package.json
Due: pkg-deps

build(nix): replace flake-parts with flakelight
  flake.nix
Due: none

fix(cordova/ios): update API
  packages/cordova/src/ios/AMBCore.swift
  packages/cordova/src/ios/AMBPlugin.swift
Due: swiftlint

docs(cordova/ios): require iOS >= 12.0
  examples/playground/package.json
  flake.lock
  package.json
  packages/cordova-consent/package.json
  pnpm-lock.yaml
  website/docs/cordova/upgrade.md
  website/package.json
Due: remark, pkg-deps

fix(example/ionic-angular): install @ionic/cordova-builders
  examples/ionic-angular/package.json
  pnpm-lock.yaml
Due: none

chore(ionic): update dependencies
  packages/ionic/package.json
  pnpm-lock.yaml
Due: none

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova-consent/plugin.xml
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/CHANGELOG.md
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  pnpm-lock.yaml
Due: remark

chore: update dependencies
  examples/ionic-angular/package.json
  examples/playground/package.json
  package.json
  packages/cordova/package.json
  pnpm-lock.yaml
  scripts/package.json
  website/package.json
Due: pkg-deps

feat(cordova/android): update PLAY_SERVICES_VERSION to 23.0.0
  packages/cordova/plugin.xml
  packages/cordova/src/android/cordova/AdMob.kt
Due: none

feat(cordova-consent/ios): update GoogleUserMessagingPlatform to 2.3.0
  packages/cordova-consent/plugin.xml
Due: none

feat(cordova/ios): update Google-Mobile-Ads-SDK to 11.2.0
  packages/cordova/plugin.xml
Due: none

feat(capacitor/ios): update Google-Mobile-Ads-SDK to 11.2.0
  packages/capacitor/ios/Podfile
Due: none

chore: update capacitor example SKAdNetworkItems
  examples/capacitor/ios/App/App/Info.plist
  scripts/gen/capacitor.ts
  scripts/gen/common.ts
  scripts/gen/consent.ts
  scripts/gen/context.ts
  scripts/gen/cordova.ts
  scripts/gen/docs.ts
  scripts/gen/index.ts
  scripts/package.json
Due: none

feat(capacitor/android): update googlePlayServicesAdsVersion to 23.0.0
  examples/capacitor/android/gradle/wrapper/gradle-wrapper.properties
  packages/capacitor/android/build.gradle
Due: none

fix(capacitor/android): fix compile errors
  packages/capacitor/android/build.gradle
  packages/capacitor/android/src/main/kotlin/admob/plus/capacitor/AdMobPlusPlugin.kt
  packages/capacitor/android/src/main/kotlin/admob/plus/capacitor/ExecuteContext.kt
  packages/capacitor/android/src/main/kotlin/admob/plus/capacitor/ads/AdBase.kt
  packages/capacitor/android/src/main/kotlin/admob/plus/capacitor/ads/Banner.kt
  packages/capacitor/android/src/main/kotlin/admob/plus/core/Context.kt
Due: none

chore: update dependencies
  examples/capacitor/android/build.gradle
  examples/capacitor/android/capacitor.settings.gradle
  examples/capacitor/ios/App/Podfile
  examples/capacitor/package.json
  examples/cordova-consent/package.json
  examples/cordova/package.json
  examples/playground/package.json
  flake.lock
  flake.nix
  package.json
  packages/capacitor/README.md
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  pnpm-lock.yaml
  scripts/package.json
  website/docs/cordova/installation.mdx
  website/package.json
Due: remark, pkg-deps

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova-consent/plugin.xml
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/CHANGELOG.md
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  pnpm-lock.yaml
Due: remark

chore(cordova): fix lint errors
  biome.json
  packages/cordova/src/www/admob.ts
  packages/cordova/src/www/ads/app-open.ts
  packages/cordova/src/www/ads/banner.ts
  packages/cordova/src/www/ads/base.ts
  packages/cordova/src/www/ads/index.ts
  packages/cordova/src/www/ads/interstitial.ts
  packages/cordova/src/www/ads/native.ts
  packages/cordova/src/www/ads/rewarded-interstitial.ts
  packages/cordova/src/www/ads/rewarded.ts
  packages/cordova/src/www/ads/webview.ts
  packages/cordova/src/www/common.ts
  packages/cordova/src/www/index.ts
Due: none

fix(cordova/android): load native view providers on load (#662)
  packages/cordova-native/plugin.xml
  packages/cordova/src/android/cordova/ads/Native.kt
Due: none

fix(cordova-native): read display options from show()
  packages/cordova-native/src/android/res/layout/ad_unified.xml
  packages/cordova/src/android/cordova/ads/Native.kt
Due: none

chore(example/cordova): update native ad id
  examples/cordova/www/js/index.js
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/playground/package.json
  package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  pnpm-lock.yaml
  scripts/package.json
  website/package.json
Due: pkg-deps

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/CHANGELOG.md
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  pnpm-lock.yaml
Due: remark

feat(capacitor/ios): update Google-Mobile-Ads-SDK to 11.3.0
  packages/capacitor/ios/Podfile
Due: none

feat(cli): require nodejs 18
  package.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/pkg-proxy/package.json
  pnpm-lock.yaml
  website/package.json
Due: pkg-deps

docs: update API docs
  website/docs/cordova/api/classes/AdMob.md
  website/docs/cordova/api/classes/AppOpenAd.md
  website/docs/cordova/api/classes/BannerAd.md
  website/docs/cordova/api/classes/InterstitialAd.md
  website/docs/cordova/api/classes/MobileAd.md
  website/docs/cordova/api/classes/NativeAd.md
  website/docs/cordova/api/classes/RewardedAd.md
  website/docs/cordova/api/classes/RewardedInterstitialAd.md
  website/docs/cordova/api/classes/WebViewAd.md
  website/docs/cordova/api/enums/Platform.md
  website/docs/cordova/api/index.md
  website/docs/cordova/api/interfaces/AdMobConfig.md
  website/docs/cordova/api/interfaces/RequestConfig.md
Due: remark

feat(cordova/ios): update Google-Mobile-Ads-SDK to 11.3
  packages/cordova/plugin.xml
Due: none

build: port capacitor gen script
  examples/playground/package.json
  package.json
  packages/cordova/plugin.xml
  pnpm-lock.yaml
  scripts/gen/capacitor.ts
  scripts/gen/common.ts
  scripts/gen/consent.ts
  scripts/gen/context.ts
  scripts/gen/cordova.ts
  scripts/gen/docs.ts
  scripts/gen/index.ts
  website/package.json
Due: pkg-deps

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/CHANGELOG.md
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  pnpm-lock.yaml
Due: remark

chore: replace @admob-plus-internal/npm-bin with pnpm-ftw
  examples/capacitor/package.json
  examples/cordova/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  internal/npm-bin/.gitignore
  internal/npm-bin/package.json
  internal/npm-bin/src/npm.ts
  internal/npm-bin/tsconfig.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: pkg-deps
