Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint -e

pre-commit:
  parallel: true
  commands:
    fixer:
      run: >
        lefthook run fixer &&
        git add {staged_files}
    remark:
      glob: "*.md"
      run: yarn remark --no-stdout {staged_files}
    swiftlint:
      glob: "*.swift"
      run: yarn node-swiftlint lint --strict --path {staged_files}

pre-push:
  parallel: true
  commands:
    jest:
      run: yarn jest

fixer:
  parallel: true
  commands:
    js-fixer:
      glob: "*.{js,jsx,ts,tsx}"
      run: >
        yarn prettier-eslint --write {staged_files} &&
        yarn eslint --ext .js,.jsx,.ts,tsx --fix {staged_files}
    pkg-json-fixed:
      glob: examples/*/package.json
      run: yarn prettier --write {staged_files}

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/pkg-proxy/CHANGELOG.md
  packages/pkg-proxy/package.json
Due: remark

chore(cordova): type ctx
  packages/cordova/package.json
  packages/cordova/scripts/iosNSAppTransportSecurity.ts
Due: none

build(cordova): build scripts/
  packages/cordova/package.json
Due: none

chore(release): publish
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

build(cordova): avoid yarn pack ignore scripts/*.js
  packages/cordova/.gitignore
  packages/cordova/scripts/.gitignore
Due: none

build(cordova): ignore scripts/ from eslint
  .eslintignore
Due: none

build: type rollup config
  internal/rollup-config/cordova.ts
Due: none

chore(cordova): avoid writing to Info.plist more than once
  packages/cordova/package.json
  packages/cordova/scripts/iosNSAppTransportSecurity.ts
Due: none

refactor(cordova): enhance Context
  packages/cordova/scripts/iosNSAppTransportSecurity.ts
  packages/cordova/scripts/util.ts
Due: none

refactor(cordova): extract updateTextFile()
  packages/cordova/scripts/iosNSAppTransportSecurity.ts
  packages/cordova/scripts/util.ts
Due: none

feat(cordova/ios): add AppOpenAd
  examples/cordova/www/js/index.js
  internal/cli/src/gen/admob.ts
  packages/cordova/plugin.xml
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/browser/AdMobProxy.js
  packages/cordova/src/ios/AMBAppOpenAd.swift
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/generated.ts
  packages/cordova/ts/index.ts
Due: swiftlint

feat(cordova/android): add AppOpenAd
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/ExecuteContext.java
  packages/cordova/src/android/cordova/ads/AppOpen.java
Due: none

fix(ionic): avoid type error
  packages/ionic/src/ngx/index.ts
Due: none

feat(cordova): rename AppOpenAd.tryToPresent() to showOrLoad()
  packages/cordova/ts/app-open.ts
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
Due: none

feat(cordova): pass ad instance in event.data
  packages/cordova/ts/api.ts
  packages/cordova/ts/index.ts
Due: none

feat(cordova/ios): emit AppOpenAd events
  internal/cli/src/gen/capacitor.ts
  packages/capacitor/android/src/main/java/admob/plus/capacitor/Generated.java
  packages/capacitor/ios/Plugin/AMBGenerated.swift
  packages/cordova/plugin.xml
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/ios/AMBAppOpenAd.swift
  packages/cordova/src/ios/AMBGenerated.swift
  packages/cordova/ts/generated.ts
  packages/react-native/ios/AMBGenerated.swift
Due: swiftlint

fix(internal/cli): fix type error
  internal/cli/src/gen/capacitor.ts
Due: none

feat(cordova/android): emit AppOpenAd events
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/ads/AppOpen.java
  packages/cordova/src/android/cordova/ads/Rewarded.java
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  internal/rollup-config/package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  website/package.json
Due: none

docs: update API docs
  website/docs/cordova/api/classes/admob.md
  website/docs/cordova/api/classes/appopenad.md
  website/docs/cordova/api/classes/bannerad.md
  website/docs/cordova/api/classes/mobilead.md
  website/docs/cordova/api/classes/rewardedad.md
  website/docs/cordova/api/classes/rewardedinterstitialad.md
  website/docs/cordova/api/enums/adsizetype.md
  website/docs/cordova/api/enums/events.md
  website/docs/cordova/api/enums/maxadcontentrating.md
  website/docs/cordova/api/enums/nativeactions.md
  website/docs/cordova/api/enums/platforms.md
  website/docs/cordova/api/enums/trackingauthorizationstatus.md
  website/docs/cordova/api/index.md
  website/docs/ionic/api/classes/admob.md
  website/docs/ionic/api/classes/bannerad.md
  website/docs/ionic/api/classes/interstitialad.md
  website/docs/ionic/api/classes/rewardedad.md
  website/docs/ionic/api/classes/rewardedinterstitialad.md
  website/docs/ionic/api/enums/trackingauthorizationstatus.md
Due: remark

fix(cordova/ios): emit load events
  examples/cordova/www/js/index.js
  packages/cordova/src/ios/AMBAppOpenAd.swift
  packages/cordova/src/ios/AMBPlugin.swift
Due: swiftlint

docs(cordova): document app open ad
  website/docs/cordova/ads/app-open.md
  website/sidebars.js
Due: remark

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/pkg-proxy/CHANGELOG.md
  packages/pkg-proxy/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

build: ignore chagnes from package.json
  lerna.json
Due: none

fix(cordova/android): stop AdActivity on back, fix #353
  packages/cordova/plugin.xml
Due: none

fix(capacitor): type addListener() method
  packages/capacitor/src/definitions.ts
Due: none

chore: update dependencies
  examples/ionic-angular/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/ionic/package.json
Due: none

fix(capacitor/ios): emit missed events
  packages/capacitor/ios/Plugin/AMBInterstitial.swift
  packages/capacitor/ios/Plugin/AMBRewarded.swift
  packages/capacitor/ios/Plugin/AMBRewardedInterstitial.swift
Due: swiftlint

test(cordova): use jsdom jest-environment
  packages/cordova/__tests__/admob.ts
  packages/cordova/__tests__/shared.ts
Due: none

fix(cordova/ios): set ad to nil on dismiss, fix #356
  examples/cordova/www/js/index.js
  packages/cordova/src/ios/AMBInterstitial.swift
  packages/cordova/src/ios/AMBRewarded.swift
  packages/cordova/src/ios/AMBRewardedInterstitial.swift
Due: swiftlint

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

docs: update API docs
  packages/capacitor/README.md
  website/docs/capacitor/api/enums/maxadcontentrating.md
  website/docs/capacitor/api/enums/trackingauthorizationstatus.md
  website/docs/capacitor/api/index.md
  website/docs/capacitor/api/interfaces/admobplusplugin.md
Due: remark

docs: fix index links
  website/docs/index.md
Due: remark

fix(capacitor/android): clear ad on dismiss
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/Interstitial.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/Rewarded.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/RewardedInterstitial.java
Due: none

feat(cordova/ios): add NativeAd
  examples/cordova/www/index.html
  examples/cordova/www/js/index.js
  internal/cli/src/gen/capacitor.ts
  internal/cli/src/gen/index.ts
  packages/capacitor/android/src/main/java/admob/plus/capacitor/Generated.java
  packages/capacitor/ios/Plugin/AMBGenerated.swift
  packages/cordova/plugin.xml
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/ios/AMBAdBase.swift
  packages/cordova/src/ios/AMBGenerated.swift
  packages/cordova/src/ios/AMBNativeAd.swift
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/src/ios/NativeAdView.xib
  packages/cordova/ts/api.ts
  packages/cordova/ts/generated.ts
  packages/cordova/ts/index.ts
  packages/cordova/ts/native.ts
  packages/react-native/ios/AMBGenerated.swift
Due: swiftlint

fix(cordova/ios): remove ad on main thread, fix #359
  packages/cordova/src/ios/AMBAdBase.swift
Due: swiftlint

refactor(cordova/ios): rename appOpenAd to mAd
  packages/cordova/src/ios/AMBAppOpenAd.swift
Due: swiftlint

refactor(cordova/ios): rename requestAppOpenAd() to load()
  packages/cordova/src/ios/AMBAppOpenAd.swift
Due: swiftlint
