Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint, pkg-deps

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: npx commitlint -e

pre-commit:
  parallel: true
  commands:
    fixer:
      run: >
        lefthook run fixer &&
        git add {staged_files}
    remark:
      glob: "*.md"
      run: npx remark --no-stdout {staged_files}
    swiftlint:
      glob: "*.swift"
      run: npx node-swiftlint lint --strict --path {staged_files}
    pkg-deps:
      glob: package.json
      run: npx jest test/package-json.test.ts

pre-push:
  parallel: true
  commands:
    jest:
      run: npx nx jest .

fixer:
  parallel: true
  commands:
    js-fixer:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx gts fix {staged_files}
    pkg-json-fixed:
      glob: examples/*/package.json
      run: npx prettier --write {staged_files}

feat(cordova/android): update PLAY_SERVICES_VERSION to 23.2.0
  packages/cordova/plugin.xml
  website/docs/cordova/installation.mdx
Due: none

fix(example/cordova): update android-targetSdkVersion to v34
  examples/cordova/config.xml
  examples/cordova/package.json
Due: none

chore: update dependencies
  package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  pnpm-lock.yaml
  scripts/package.json
  website/docs/cordova/api/index.md
  website/docs/react-native/api/index.md
  website/package.json
Due: remark, pkg-deps

feat(cordova/ios): update Google-Mobile-Ads-SDK to 11.6.0
  packages/cordova/plugin.xml
Due: none

chore: update dependencies
  examples/playground/package.json
  flake.lock
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
  scripts/package.json
  website/docs/cordova/api/classes/AppOpenAd.md
  website/docs/cordova/api/classes/BannerAd.md
  website/docs/cordova/api/classes/InterstitialAd.md
  website/docs/cordova/api/classes/MobileAd.md
  website/docs/cordova/api/classes/NativeAd.md
  website/docs/cordova/api/classes/RewardedAd.md
  website/docs/cordova/api/classes/RewardedInterstitialAd.md
  website/docs/cordova/api/classes/WebViewAd.md
  website/docs/cordova/api/interfaces/AdMobConfig.md
  website/docs/cordova/consent/api/classes/Consent.md
  website/package.json
Due: remark, pkg-deps

feat(cordova-consent/ios): update GoogleUserMessagingPlatform to 2.5.0
  packages/cordova-consent/plugin.xml
Due: none

feat(consent/android): update UMP_VERSION to v3.0.0
  packages/cordova-consent/plugin.xml
Due: none

docs(users): update users.ts (#667)
  website/src/data/users.ts
Due: none

build: replace nx with turbo
  .gitignore
  examples/cordova-consent/package.json
  examples/cordova/package.json
  examples/cordova/project.json
  examples/ionic-angular-capacitor/package.json
  examples/playground/package.json
  internal/cli/package.json
  internal/cli/project.json
  nx.json
  package.json
  packages/capacitor/package.json
  packages/capacitor/project.json
  packages/cli/package.json
  packages/cli/project.json
  packages/cordova-consent/package.json
  packages/cordova-consent/project.json
  packages/cordova-native/package.json
  packages/cordova-native/project.json
  packages/cordova-webview-ad/package.json
  packages/cordova/package.json
  packages/cordova/project.json
  packages/ionic/package.json
  packages/ionic/project.json
  packages/pkg-proxy/package.json
  packages/pkg-proxy/project.json
  packages/react-native/package.json
  packages/react-native/project.json
  pnpm-lock.yaml
  project.json
  turbo.json
Due: pkg-deps

feat(consent/android): update UMP_VERSION to v3.1.0
  packages/cordova-consent/package.json
  packages/cordova-consent/plugin.xml
  packages/cordova-consent/src/www/consent.ts
  packages/cordova-consent/src/www/index.ts
Due: none

build: use biome check --write instead of --apply
  package.json
  pnpm-lock.yaml
Due: pkg-deps

chore: update dependencies
  flake.lock
  package.json
  packages/cordova/package.json
  pnpm-lock.yaml
  website/package.json
Due: pkg-deps

docs: update API docs
  website/docs/capacitor/api/classes/BannerAd.md
  website/docs/capacitor/api/classes/InterstitialAd.md
  website/docs/capacitor/api/classes/RewardedAd.md
  website/docs/capacitor/api/classes/RewardedInterstitialAd.md
  website/docs/capacitor/api/interfaces/AdMobPlusPlugin.md
  website/docs/cordova/api/classes/AppOpenAd.md
  website/docs/cordova/api/classes/BannerAd.md
  website/docs/cordova/api/classes/InterstitialAd.md
  website/docs/cordova/api/classes/MobileAd.md
  website/docs/cordova/api/classes/NativeAd.md
  website/docs/cordova/api/classes/RewardedAd.md
  website/docs/cordova/api/classes/RewardedInterstitialAd.md
  website/docs/cordova/api/classes/WebViewAd.md
  website/docs/cordova/api/interfaces/WebViewAdOptions.md
  website/docs/cordova/consent/api/classes/Consent.md
  website/docs/cordova/consent/api/classes/ConsentForm.md
  website/docs/cordova/consent/api/enumerations/ConsentStatus.md
  website/docs/cordova/consent/api/enumerations/DebugGeography.md
  website/docs/cordova/consent/api/enumerations/Events.md
  website/docs/cordova/consent/api/enumerations/FormStatus.md
  website/docs/cordova/consent/api/enumerations/PrivacyOptionsRequirementStatus.md
  website/docs/cordova/consent/api/enumerations/TrackingAuthorizationStatus.md
  website/docs/ionic/api/classes/BannerAd.md
  website/docs/ionic/api/classes/InterstitialAd.md
  website/docs/ionic/api/classes/NativeAd.md
  website/docs/ionic/api/classes/RewardedAd.md
  website/docs/ionic/api/classes/RewardedInterstitialAd.md
  website/docs/react-native/api/classes/InterstitialAd.md
  website/docs/react-native/api/classes/RewardedAd.md
  website/docs/react-native/api/classes/RewardedInterstitialAd.md
Due: remark

fix: update SKAdNetworkItems extract code
  examples/capacitor/ios/App/App/Info.plist
  pnpm-lock.yaml
  scripts/gen/context.ts
  scripts/gen/cordova.ts
  scripts/gen/docs.ts
  scripts/package.json
Due: none

chore(example/react-native): disable clean script
  examples/react-native/package.json
Due: none

chore: update dependencies
  package.json
  packages/cli/package.json
  packages/cordova-native/package.json
  packages/pkg-proxy/package.json
  pnpm-lock.yaml
Due: pkg-deps

build: replace lerna with lerna-lite
  lerna.json
  package.json
  pnpm-lock.yaml
Due: pkg-deps

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova-consent/plugin.xml
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/CHANGELOG.md
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/pkg-proxy/CHANGELOG.md
  packages/pkg-proxy/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

build: switch to conflake
  flake.lock
  flake.nix
Due: none

chore: update dependencies
  examples/cordova/package.json
  examples/playground/package.json
  flake.lock
  package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/pkg-proxy/package.json
  pnpm-lock.yaml
  scripts/package.json
  website/package.json
Due: pkg-deps

feat(cordova/android): update PLAY_SERVICES_VERSION to 23.6.0
  packages/cordova/plugin.xml
  website/docs/cordova/installation.mdx
Due: none

feat(cordova/ios): update Google-Mobile-Ads-SDK to 11.13.0
  packages/cordova/plugin.xml
  scripts/gen/context.ts
Due: none

docs: generate API docs
  website/docs/capacitor/api/classes/BannerAd.md
  website/docs/capacitor/api/classes/InterstitialAd.md
  website/docs/capacitor/api/classes/RewardedAd.md
  website/docs/capacitor/api/classes/RewardedInterstitialAd.md
  website/docs/capacitor/api/interfaces/AdMobPlusPlugin.md
  website/docs/cordova/api/classes/AdMob.md
  website/docs/cordova/api/classes/AppOpenAd.md
  website/docs/cordova/api/classes/BannerAd.md
  website/docs/cordova/api/classes/InterstitialAd.md
  website/docs/cordova/api/classes/MobileAd.md
  website/docs/cordova/api/classes/NativeAd.md
  website/docs/cordova/api/classes/RewardedAd.md
  website/docs/cordova/api/classes/RewardedInterstitialAd.md
  website/docs/cordova/api/classes/WebViewAd.md
  website/docs/cordova/api/functions/execAsync.md
  website/docs/cordova/consent/api/classes/Consent.md
  website/docs/cordova/consent/api/classes/ConsentForm.md
  website/docs/ionic/api/classes/AdMob.md
  website/docs/ionic/api/classes/BannerAd.md
  website/docs/ionic/api/classes/InterstitialAd.md
  website/docs/ionic/api/classes/NativeAd.md
  website/docs/ionic/api/classes/RewardedAd.md
  website/docs/ionic/api/classes/RewardedInterstitialAd.md
  website/docs/react-native/api/classes/InterstitialAd.md
  website/docs/react-native/api/classes/RewardedAd.md
  website/docs/react-native/api/classes/RewardedInterstitialAd.md
  website/docs/react-native/api/interfaces/AdMobPlusPlugin.md
Due: remark

build(nix): install Android SDK
  examples/cordova/config.xml
  examples/cordova/package.json
  flake.lock
  flake.nix
  package.json
  packages/cordova-consent/package.json
  packages/pkg-proxy/package.json
  pnpm-lock.yaml
  scripts/package.json
  website/package.json
Due: pkg-deps

feat(cordova/android): update PLAY_SERVICES_VERSION to 24.1.0
  examples/cordova/config.xml
  packages/cordova/plugin.xml
Due: none

fix(cordova/android): return version string from start()
  packages/cordova/src/android/cordova/AdMob.kt
Due: none

feat(example/cordova): display SDK version
  examples/cordova/www/js/index.js
Due: none

feat(cordova/android): update PLAY_SERVICES_VERSION to 24.2.0
  packages/cordova/plugin.xml
Due: none

feat(consent/android): update UMP_VERSION to v3.2.0
  examples/cordova-consent/config.xml
  packages/cordova-consent/plugin.xml
Due: none

chore: update dependencies
  flake.lock
  flake.nix
  package.json
  packages/cordova-consent/package.json
  pnpm-lock.yaml
  scripts/package.json
  website/package.json
Due: pkg-deps

feat(cordova/ios): update Google-Mobile-Ads-SDK to 12.3
  examples/cordova/config.xml
  packages/cordova/plugin.xml
Due: none
