Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint -e

pre-commit:
  parallel: true
  commands:
    fixer:
      run: >
        lefthook run fixer &&
        git add {staged_files}
    remark:
      glob: "*.md"
      run: yarn remark --no-stdout {staged_files}
    swiftlint:
      glob: "*.swift"
      run: yarn node-swiftlint lint --strict --path {staged_files}

pre-push:
  parallel: true
  commands:
    jest:
      run: yarn jest

fixer:
  parallel: true
  commands:
    js-fixer:
      glob: "*.{js,jsx,ts,tsx}"
      run: >
        yarn prettier-eslint --write {staged_files} &&
        yarn eslint --ext .js,.jsx,.ts,tsx --fix {staged_files}
    pkg-json-fixed:
      glob: examples/*/package.json
      run: yarn prettier --write {staged_files}

chore: update dependencies
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
  website/package.json
Due: none

docs: geneate API docs
  website/docs/cordova/api/enums/adsizetype.md
  website/docs/cordova/api/enums/events.md
  website/docs/cordova/api/index.md
  website/docs/react-native/api/classes/interstitialad.md
  website/docs/react-native/api/classes/rewardedad.md
  website/docs/react-native/api/classes/rewardedinterstitialad.md
  website/docs/react-native/api/enums/maxadcontentrating.md
  website/docs/react-native/api/index.md
  website/docs/react-native/api/interfaces/admobplusplugin.md
Due: remark

docs(cordova): document native ad
  website/docs/cordova/ads/native.md
  website/sidebars.js
Due: remark

feat(cordova): remove admob.createAd()
  examples/cordova/www/js/index.js
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/index.ts
  packages/cordova/ts/shared.ts
  packages/ionic/src/ngx/index.ts
Due: none

ci(lychee): ignore new package links
  lychee.toml
Due: none

chore(cordova): pass cls to create ad
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/native.ts
Due: swiftlint

chore(cordova): generate adHide action constant
  examples/cordova/www/js/index.js
  internal/cli/src/gen/admob.ts
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/browser/AdMobProxy.js
  packages/cordova/ts/generated.ts
  packages/cordova/ts/native.ts
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

Added "new" to get new instance.
  website/docs/cordova/ads/native.md
Due: remark

docs(cordova): add "new" to get new instance. (#367)
  website/docs/cordova/ads/native.md
Due: remark

chore: add typescript keyword
  packages/capacitor/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/react-native/package.json
Due: none

docs(cordova): document NativeAd.show() can be called multiple times
  website/docs/cordova/ads/native.md
Due: remark

feat(cordova): add view option to NativeAd
  packages/cordova-native/src/android/Plugin.java
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/ads/Native.java
  packages/cordova/src/ios/AMBNativeAd.swift
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/native.ts
Due: swiftlint

ci(github): run with node-version v16.x
  .github/workflows/nodejs.yml
Due: none

docs: geneate API docs
  website/docs/cordova/api/classes/admob.md
  website/docs/cordova/api/classes/appopenad.md
  website/docs/cordova/api/classes/nativead.md
  website/docs/cordova/api/enums/adsizetype.md
  website/docs/cordova/api/enums/events.md
  website/docs/cordova/api/enums/nativeactions.md
  website/docs/cordova/api/index.md
  website/docs/ionic/api/classes/admob.md
Due: remark

docs(cordova): document how to customize native ad views
  website/docs/cordova/ads/native.md
  website/docs/cordova/ads/native.mdx
  website/docusaurus.config.js
Due: remark

feat(internal/cli): handle cordova-consent example dev
  internal/cli/src/example.ts
Due: none

chore(example/react-native): alert on ad error
  examples/react-native/App.tsx
Due: none

chore: update dependencies
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  website/package.json
Due: none

feat(internal/cli): handle capacitor example prepare
  internal/cli/src/example.ts
Due: none

feat: config deivce for firebase test lab
  packages/capacitor/android/src/main/java/admob/plus/AdMobHelper.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/AdMobPlusPlugin.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ExecuteContext.java
  packages/cordova/src/android/AdMobHelper.java
  packages/cordova/src/android/cordova/AdMob.java
Due: none

feat(capacitor): add trackingAuthorizationStatus()
  internal/cli/src/gen/capacitor.ts
  packages/capacitor/android/src/main/java/admob/plus/capacitor/AdMobPlusPlugin.java
  packages/capacitor/ios/Plugin/AdMobPlusPlugin.m
  packages/capacitor/ios/Plugin/AdMobPlusPlugin.swift
  packages/capacitor/src/definitions.ts
  packages/capacitor/src/web.ts
Due: swiftlint

chore(react-native/android): copy AdMobHelper
  internal/cli/src/gen/admob.ts
  internal/cli/src/gen/index.ts
  packages/react-native/android/src/main/java/admob/plus/AdMobHelper.java
Due: none

feat(react-native): config deivce for firebase test lab
  packages/react-native/android/src/main/java/admob/plus/rn/AdMobPlusRNModule.java
Due: none

fix(cordova/android): expose Helper.ads
  packages/capacitor/android/src/main/java/admob/plus/core/Helper.java
  packages/cordova/src/android/core/Helper.java
  packages/react-native/android/src/main/java/admob/plus/core/Helper.java
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/cordova/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  website/package.json
Due: none

fix(cordova/ios): add native ad view sibling to webview, fix #373
  packages/cordova/src/ios/AMBNativeAd.swift
Due: swiftlint

chore(cordova/android): remove unused interfaces
  packages/cordova/plugin.xml
  packages/cordova/src/android/cordova/ads/GenericAd.java
  packages/cordova/src/android/cordova/ads/IAdIsLoaded.java
  packages/cordova/src/android/cordova/ads/IAdLoad.java
  packages/cordova/src/android/cordova/ads/IAdShow.java
Due: none

refactor: move getContentView() to Ad
  examples/cordova/package.json
  internal/cli/src/example.ts
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/Banner.java
  packages/capacitor/android/src/main/java/admob/plus/core/Ad.java
  packages/capacitor/android/src/main/java/admob/plus/core/Helper.java
  packages/cordova/src/android/cordova/ads/AdBase.java
  packages/cordova/src/android/cordova/ads/Banner.java
  packages/cordova/src/android/core/Ad.java
  packages/cordova/src/android/core/Helper.java
  packages/react-native/android/src/main/java/admob/plus/core/Ad.java
  packages/react-native/android/src/main/java/admob/plus/core/Helper.java
Due: none

fix(cordova/android): add native view to content view, fix #371
  packages/cordova/src/android/cordova/ads/Native.java
Due: none

chore(capacitor/ios): use safeare only for ios >= 11
  packages/capacitor/ios/Plugin/AMBBanner.swift
  packages/capacitor/ios/Plugin/AMBContext.swift
  packages/capacitor/ios/Plugin/AMBCore.swift
  packages/capacitor/ios/Plugin/AdMobPlusPlugin.swift
Due: swiftlint

feat(example/capacitor): add new banner button
  examples/capacitor/src/main.js
  examples/capacitor/www/index.html
Due: none

chore: update dependencies
  examples/capacitor/android/capacitor.settings.gradle
  examples/capacitor/ios/App/Podfile
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  packages/capacitor/package.json
  packages/cordova/package.json
  packages/react-native/package.json
  website/package.json
Due: none

chore(internal/cli): debounce file change with 100ms
  internal/cli/package.json
  internal/cli/src/example.ts
Due: none

feat(capacitor/ios): use GenericAd
  .swiftlint.yml
  examples/capacitor/src/main.js
  internal/cli/src/gen/capacitor.ts
  packages/capacitor/README.md
  packages/capacitor/ios/Plugin/AMBBanner.swift
  packages/capacitor/ios/Plugin/AMBContext.swift
  packages/capacitor/ios/Plugin/AMBCore.swift
  packages/capacitor/ios/Plugin/AMBInterstitial.swift
  packages/capacitor/ios/Plugin/AMBRewarded.swift
  packages/capacitor/ios/Plugin/AMBRewardedInterstitial.swift
  packages/capacitor/ios/Plugin/AdMobPlusPlugin.m
  packages/capacitor/ios/Plugin/AdMobPlusPlugin.swift
  packages/capacitor/src/definitions.ts
  packages/capacitor/src/index.ts
  packages/capacitor/src/web.ts
Due: remark, swiftlint

fix(capacitor/ios): apply constraints to webview parents, fix #374
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

feat(capacitor/andorid): use GenericAd
  examples/capacitor/src/main.js
  internal/cli/src/example.ts
  packages/capacitor/android/src/main/java/admob/plus/capacitor/AdMobPlusPlugin.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/Banner.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/Interstitial.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/Rewarded.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/RewardedInterstitial.java
  packages/capacitor/android/src/main/java/admob/plus/core/Helper.java
  packages/capacitor/src/index.ts
  packages/cordova/src/android/core/Helper.java
  packages/react-native/android/src/main/java/admob/plus/core/Helper.java
Due: none

feat(cordova/android): draw a banner ad in a canvas html element
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/ExecuteContext.java
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/android/cordova/ads/Banner.java
  packages/cordova/src/android/core/Context.java
  packages/cordova/ts/banner.ts
  packages/cordova/ts/generated.ts
Due: none
