Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint -e

pre-commit:
  parallel: true
  commands:
    fixer:
      run: >
        lefthook run fixer &&
        git add {staged_files}
    remark:
      glob: "*.md"
      run: yarn remark --no-stdout {staged_files}
    swiftlint:
      glob: "*.swift"
      run: yarn node-swiftlint lint --strict --path {staged_files}

pre-push:
  parallel: true
  commands:
    jest:
      run: yarn jest

fixer:
  parallel: true
  commands:
    js-fixer:
      glob: "*.{js,jsx,ts,tsx}"
      run: >
        yarn prettier-eslint --write {staged_files} &&
        yarn eslint --ext .js,.jsx,.ts,tsx --fix {staged_files}
    pkg-json-fixed:
      glob: examples/*/package.json
      run: yarn prettier --write {staged_files}

feat(capacitor/andorid): utilize Context.configure()
  packages/capacitor/android/src/main/java/admob/plus/capacitor/AdMobPlusPlugin.java
  packages/capacitor/android/src/main/java/admob/plus/core/Context.java
Due: none

feat(react-native/android): implement configure()
  packages/react-native/android/src/main/java/admob/plus/core/Context.java
  packages/react-native/android/src/main/java/admob/plus/rn/AdMobPlusRNModule.java
Due: none

refactor(cordova-consent/ios): simplify @objc func
  packages/cordova-consent/src/ios/CSNConsent.swift
Due: swiftlint

fix(cordova-consent/android): convert consent status value, fix #401
  internal/cli/src/gen/consent.ts
  packages/cordova-consent/src/android/Consent.java
  packages/cordova-consent/src/android/Generated.java
  packages/cordova-consent/ts/generated.ts
  packages/cordova-consent/ts/index.ts
Due: none

refactor(cordova-consent/android): compare value with ConsentInformation.ConsentStatus
  packages/cordova-consent/src/android/Consent.java
Due: none

feat(ionic): expose AdMob.configure()
  packages/ionic/src/ngx/index.ts
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova-consent/plugin.xml
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

chore: update dependencies
  examples/capacitor/package.json
  examples/cordova-consent/package.json
  examples/cordova/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
  website/package.json
Due: none

docs: update API docs
  website/docs/capacitor/api/classes/bannerad.md
  website/docs/capacitor/api/classes/interstitialad.md
  website/docs/capacitor/api/classes/rewardedad.md
  website/docs/capacitor/api/classes/rewardedinterstitialad.md
  website/docs/capacitor/api/interfaces/banneradoptions.md
  website/docs/cordova/api/classes/admob.md
  website/docs/cordova/api/classes/appopenad.md
  website/docs/cordova/api/classes/bannerad.md
  website/docs/cordova/api/classes/interstitialad.md
  website/docs/cordova/api/classes/mobilead.md
  website/docs/cordova/api/classes/nativead.md
  website/docs/cordova/api/classes/rewardedad.md
  website/docs/cordova/api/classes/rewardedinterstitialad.md
  website/docs/cordova/api/enums/adsizetype.md
  website/docs/cordova/api/enums/events.md
  website/docs/cordova/api/enums/maxadcontentrating.md
  website/docs/cordova/api/enums/nativeactions.md
  website/docs/cordova/api/enums/platforms.md
  website/docs/cordova/api/enums/trackingauthorizationstatus.md
  website/docs/cordova/api/index.md
  website/docs/cordova/api/interfaces/banneradoptions.md
  website/docs/cordova/api/interfaces/rewardedadoptions.md
  website/docs/cordova/api/interfaces/rewardedinterstitialadoptions.md
  website/docs/cordova/consent/api/classes/consent.md
  website/docs/cordova/consent/api/enums/consentstatus.md
  website/docs/cordova/consent/api/enums/formstatus.md
  website/docs/cordova/consent/api/enums/trackingauthorizationstatus.md
  website/docs/cordova/consent/api/index.md
  website/docs/ionic/api/classes/admob.md
Due: remark

docs(cordova): add missing async keyword, #399
  website/docs/cordova/ads/banner.md
Due: remark

docs(cordova-consent): document consent.trackingAuthorizationStatus()
  website/docs/cordova/consent/request.md
Due: remark

docs(cordova): update to use admob.configure()
  website/docs/cordova/targeting.md
  website/docs/cordova/test-ads.md
  website/docs/cordova/volume-control.md
Due: remark

chore(cordova/ios): create ad instance in main thread
  packages/cordova/src/ios/AMBCore.swift
  packages/cordova/src/ios/AMBPlugin.swift
Due: swiftlint

chore: copy AMBCore
  packages/capacitor/ios/Plugin/AMBCore.swift
  packages/cli/README.md
  packages/react-native/ios/AMBCore.swift
Due: remark, swiftlint

chore: update dependencies
  examples/react-native/package.json
  internal/rollup-config/package.json
  packages/capacitor/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/react-native/package.json
  website/package.json
Due: none

Hide banner instead of load
  packages/capacitor/src/index.ts
Due: none

corrected spelling error 'build' -> 'built'
  README.md
Due: remark

docs(faq): mention error event
  website/docs/troubleshooting.md
Due: remark

corrected spelling error 'build' -> 'built' (#410)
  README.md
Due: remark

fix(capacitor): hide banner instead of load (#409)
  packages/capacitor/src/index.ts
Due: none

chore(cordova/android): default to 0.0
  packages/cordova/src/android/cordova/ExecuteContext.java
  packages/cordova/src/android/cordova/ads/Native.java
  packages/cordova/src/android/core/Context.java
Due: none

docs(ionic): document manual configuration is required for capacitor
  website/docs/ionic/installation.mdx
Due: none

fix(cordova): use explicit cls name
  packages/cordova/ts/api.ts
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/banner.ts
  packages/cordova/ts/interstitial.ts
  packages/cordova/ts/native.ts
  packages/cordova/ts/rewarded-interstitial.ts
  packages/cordova/ts/rewarded.ts
Due: none

chore(react-native/android): clean build.gradle
  packages/react-native/android/build.gradle
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

chore: update dependencies
  examples/ionic-angular/package.json
  examples/playground/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/android/build.gradle
  website/package.json
Due: none

feat(example/cordova): avoid display open ad only too often
  examples/cordova/www/js/index.js
Due: none

docs: generate API docs
  website/docs/cordova/api/classes/appopenad.md
  website/docs/cordova/api/classes/bannerad.md
  website/docs/cordova/api/classes/interstitialad.md
  website/docs/cordova/api/classes/mobilead.md
  website/docs/cordova/api/classes/nativead.md
  website/docs/cordova/api/classes/rewardedad.md
  website/docs/cordova/api/classes/rewardedinterstitialad.md
  website/docs/cordova/api/enums/maxadcontentrating.md
  website/docs/cordova/api/enums/platforms.md
  website/docs/cordova/api/enums/trackingauthorizationstatus.md
  website/docs/cordova/api/index.md
Due: remark

docs(cordova): link to how to test ads article
  website/docs/cordova/test-ads.md
Due: remark

docs(faq): list common problems
  website/docs/troubleshooting.md
Due: remark

doc(cordova-consent): document prerequisites
  website/docs/cordova/consent/request.md
Due: remark

chore: update dependencies
  examples/capacitor/package.json
  examples/cordova-consent/package.json
  examples/cordova/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  website/package.json
Due: none

docs(cordova): add note for app open ad resume event
  website/docs/cordova/ads/app-open.md
Due: remark

ci(github): run android platform from ios job
  .github/workflows/nodejs.yml
Due: none

ci(github): test only ios in ios step
  .github/workflows/nodejs.yml
Due: none

chore(release): publish
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

fix(cordova/ios): remove unused AdSupport import
  packages/cordova/src/ios/AMBPlugin.swift
Due: swiftlint

feat(cordova): start on ad creation
  packages/cordova/ts/api.ts
  packages/cordova/ts/index.ts
Due: none

feat(cordova): delay ad creation until it needed
  packages/cordova/ts/api.ts
Due: none
