Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint, pkg-deps

remark:
  run: npx remark --no-stdout {staged_files}

swiftlint:
  run: npx node-swiftlint lint --strict --path {staged_files}

pkg-deps:
  run: npx jest test/package-json.test.ts

chore(cli): update dependencies
  packages/cli/package.json
  packages/cli/src/cmds/info.ts
  packages/cli/src/cmds/install.ts
  packages/cli/src/doctor/cordova.ts
  packages/cli/src/doctor/index.ts
  packages/cli/src/doctor/listr.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  pnpm-lock.yaml
Due: none

refactor(example/cordova): remove GradlePluginKotlinCodeStyle preference
  examples/cordova/config.xml
Due: none

feat(cordova/android): update PLAY_SERVICES_VERSION to 22.1.0
  packages/cordova/plugin.xml
  website/docs/cordova/installation.mdx
Due: none

feat(cordova/android): allow enable AdMobPlusOverrideUrlLoading without webview ad enabled
  packages/cordova/src/android/cordova/AdMob.kt
Due: none

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  pnpm-lock.yaml
Due: remark

chore(cordova/android): store ad id as string
  packages/cordova/src/android/cordova/AdMob.kt
  packages/cordova/src/android/cordova/ads/AdBase.kt
  packages/cordova/src/android/core/Ad.kt
  packages/cordova/src/android/core/Context.kt
Due: none

feat(cordova): set ad id default to adUnitId
  packages/cordova/src/www/api.ts
Due: none

docs(cordova): add upgrade guide
  website/docs/cordova/upgrade.md
  website/sidebars.js
Due: remark

refactor(cordova/android): store ad initOpts
  packages/cordova/src/android/cordova/ads/AdBase.kt
  packages/cordova/src/android/core/util.kt
Due: none

feat(cordova): ignore ad create error
  packages/cordova/src/www/api.ts
Due: none

chore(cordova/android): init sdk only once
  packages/cordova/src/android/cordova/AdMob.kt
Due: none

refactor(cordova/android): extract buildAdSize
  packages/cordova/src/android/cordova/ads/AdBase.kt
  packages/cordova/src/android/cordova/ads/Banner.kt
  packages/cordova/src/android/core/util.kt
Due: none

refactor(cordova/android): remove Context class
  packages/cordova/src/android/cordova/AdMob.kt
  packages/cordova/src/android/cordova/ExecuteContext.kt
  packages/cordova/src/android/cordova/ads/AdBase.kt
  packages/cordova/src/android/cordova/ads/AppOpen.kt
  packages/cordova/src/android/cordova/ads/Banner.kt
  packages/cordova/src/android/cordova/ads/Interstitial.kt
  packages/cordova/src/android/cordova/ads/Native.kt
  packages/cordova/src/android/cordova/ads/Rewarded.kt
  packages/cordova/src/android/cordova/ads/RewardedInterstitial.kt
  packages/cordova/src/android/cordova/ads/WebViewAd.kt
  packages/cordova/src/android/core/Ad.kt
  packages/cordova/src/android/core/Context.kt
  packages/cordova/src/android/core/util.kt
Due: none

chore(cordova): add keywords
  packages/cordova/package.json
Due: none

feat(cordova): remove ad-type specific events
  packages/cordova/src/android/cordova/ads/Banner.kt
  packages/cordova/src/android/cordova/ads/Interstitial.kt
  packages/cordova/src/android/cordova/ads/Rewarded.kt
  packages/cordova/src/android/cordova/ads/RewardedInterstitial.kt
  website/docs/cordova/upgrade.md
Due: remark

feat(cordova/android): remove ad-type specific events
  website/docs/cordova/upgrade.md
Due: remark

fix(cordova/android): set banner ad size
  packages/cordova/src/android/cordova/AdMob.kt
  packages/cordova/src/android/cordova/ads/AdBase.kt
  packages/cordova/src/android/cordova/ads/Banner.kt
Due: none

feat(cordova/ios): store ad id as String
  packages/cordova/src/ios/AMBAppOpenAd.swift
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBCore.swift
  packages/cordova/src/ios/AMBNativeAd.swift
  packages/cordova/src/ios/AMBPlugin.swift
Due: swiftlint

feat(cordova/ios): remove ad-type specific events
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBInterstitial.swift
  packages/cordova/src/ios/AMBRewarded.swift
  packages/cordova/src/ios/AMBRewardedInterstitial.swift
Due: swiftlint

chore(cli): use inquirer confirm
  packages/cli/package.json
  packages/cli/src/cmds/install.ts
Due: none

fix(pkg-proxy): prevent fse.readJson TypeError
  packages/cli/package.json
  packages/cli/src/cmds/info.ts
  packages/pkg-proxy/package.json
  packages/pkg-proxy/src/index.ts
  packages/pkg-proxy/tsconfig.json
Due: none

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/pkg-proxy/CHANGELOG.md
  packages/pkg-proxy/package.json
Due: remark

chore: update dependencies
  package.json
  packages/cordova/package.json
  pnpm-lock.yaml
  website/package.json
Due: pkg-deps

chore(cordova): delay init
  packages/cordova/src/www/api.ts
Due: none

refactor(cordova): move ad class into folder
  packages/cordova/src/www/ads/app-open.ts
  packages/cordova/src/www/ads/banner.ts
  packages/cordova/src/www/ads/base.ts
  packages/cordova/src/www/ads/interstitial.ts
  packages/cordova/src/www/ads/native.ts
  packages/cordova/src/www/ads/rewarded-interstitial.ts
  packages/cordova/src/www/ads/rewarded.ts
  packages/cordova/src/www/ads/webview.ts
  packages/cordova/src/www/index.ts
  packages/cordova/src/www/shared.ts
Due: none

chore(cordova): mark cls field readonly
  packages/cordova/src/www/ads/app-open.ts
  packages/cordova/src/www/ads/banner.ts
  packages/cordova/src/www/ads/interstitial.ts
  packages/cordova/src/www/ads/native.ts
  packages/cordova/src/www/ads/rewarded-interstitial.ts
  packages/cordova/src/www/ads/rewarded.ts
  packages/cordova/src/www/ads/webview.ts
Due: none

refactor(cordova): add SERVICE constant
  packages/cordova/src/www/admob.ts
  packages/cordova/src/www/constants.ts
  packages/cordova/src/www/cordova.d.ts
Due: none

refactor(cordova): rename Platforms to Platform
  packages/cordova/src/www/ads/banner.ts
  packages/cordova/src/www/ads/base.ts
  packages/cordova/src/www/constants.ts
  packages/cordova/src/www/index.ts
Due: none

refactor(cordova): format code
  .eslintignore
  package.json
  packages/cordova/src/www/admob.ts
  packages/cordova/src/www/ads/app-open.ts
  packages/cordova/src/www/ads/banner.ts
  packages/cordova/src/www/ads/base.ts
  packages/cordova/src/www/ads/interstitial.ts
  packages/cordova/src/www/ads/native.ts
  packages/cordova/src/www/ads/rewarded-interstitial.ts
  packages/cordova/src/www/ads/rewarded.ts
  packages/cordova/src/www/ads/webview.ts
  packages/cordova/src/www/generated.ts
  packages/cordova/src/www/index.ts
  packages/cordova/src/www/shared.ts
Due: pkg-deps

chore(cordova): add CordovaAction type
  packages/cordova/src/www/admob.ts
  packages/cordova/src/www/ads/banner.ts
  packages/cordova/src/www/ads/base.ts
  packages/cordova/src/www/common.ts
  packages/cordova/src/www/constants.ts
  packages/cordova/src/www/index.ts
Due: none

feat(cordova): remove old config actions
  packages/cordova/src/www/ads/base.ts
  packages/cordova/src/www/common.ts
  packages/cordova/src/www/index.ts
Due: none

feat(cordova): remove requestTrackingAuthorization()
  packages/cordova/src/www/ads/base.ts
  packages/cordova/src/www/common.ts
  packages/cordova/src/www/index.ts
Due: none

refactor(ionic): format code
  .eslintignore
  packages/ionic/scripts/build.ts
  packages/ionic/src/ngx/index.ts
Due: none

feat(ionic): remove old methods
  packages/ionic/package.json
  packages/ionic/src/ngx/index.ts
Due: none

chore(ionic): update dependencies
  packages/ionic/package.json
  pnpm-lock.yaml
Due: none

test: update version range
  test/package-json.test.ts
Due: none

chore(cordova): export ads
  packages/cordova/src/www/ads/app-open.ts
  packages/cordova/src/www/ads/banner.ts
  packages/cordova/src/www/ads/index.ts
  packages/cordova/src/www/ads/interstitial.ts
  packages/cordova/src/www/ads/native.ts
  packages/cordova/src/www/ads/rewarded-interstitial.ts
  packages/cordova/src/www/ads/rewarded.ts
  packages/cordova/src/www/ads/webview.ts
  packages/cordova/src/www/index.ts
Due: none

docs: update API docs
  website/docs/cordova/api/classes/AdMob.md
  website/docs/cordova/api/classes/AppOpenAd.md
  website/docs/cordova/api/classes/BannerAd.md
  website/docs/cordova/api/classes/InterstitialAd.md
  website/docs/cordova/api/classes/MobileAd.md
  website/docs/cordova/api/classes/NativeAd.md
  website/docs/cordova/api/classes/RewardedAd.md
  website/docs/cordova/api/classes/RewardedInterstitialAd.md
  website/docs/cordova/api/classes/WebViewAd.md
  website/docs/cordova/api/enums/AppOpenAdOrientation.md
  website/docs/cordova/api/index.md
  website/docs/cordova/api/interfaces/AdMobConfig.md
  website/docs/cordova/api/interfaces/BannerAdOptions.md
  website/docs/cordova/api/interfaces/NativeAdOptions.md
  website/docs/cordova/api/interfaces/ServerSideVerificationOptions.md
  website/docs/cordova/api/interfaces/WebViewAdOptions.md
  website/docs/ionic/api/classes/AdMob.md
  website/docs/ionic/api/classes/BannerAd.md
  website/docs/ionic/api/classes/InterstitialAd.md
  website/docs/ionic/api/classes/NativeAd.md
  website/docs/ionic/api/classes/RewardedAd.md
  website/docs/ionic/api/classes/RewardedInterstitialAd.md
Due: remark

docs(ionic): add upgrade guide
  website/docs/ionic/upgrade.md
  website/sidebars.js
Due: remark

docs: remove trailing slash
  website/docs/ionic/installation.md
  website/docs/ionic/upgrade.md
  website/docusaurus.config.js
Due: remark

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
  pkg-deps: any of: package.json
