Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

remark:
  run: yarn remark --no-stdout {staged_files}

swiftlint:
  run: yarn node-swiftlint lint --strict --path {staged_files}

build(ionic): add missing admob-plus-cordova devDependencies
  .github/workflows/nodejs.yml
  packages/ionic/package.json
Due: none

chore(ionic): relax peerDependencies requirements
  packages/ionic/package.json
  packages/ionic/package.test.ts
Due: none

chore(cli/doctor): bold path
  packages/cli/package.json
  packages/cli/src/doctor/index.ts
Due: none

feat(internal/cli): generate cli README
  internal/cli/package.json
  internal/cli/src/gen/index.ts
  internal/cli/templates/cli-readme.md.hbs
  package.json
  packages/cli/README.md
  packages/cli/package.json
Due: remark

chore(cli): always print summary
  packages/cli/src/doctor/context.ts
  packages/cli/src/doctor/index.ts
Due: none

feat(cli): check cordova android dependencies
  packages/cli/.eslintrc
  packages/cli/src/doctor/android.ts
  packages/cli/src/doctor/index.ts
Due: none

build(internal): add build script
  internal/cli/package.json
  internal/rollup-config/package.json
  packages/capacitor/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/ionic/package.json
Due: none

refactor(cli/doctor): extract logTitle()
  packages/cli/src/doctor/context.ts
Due: none

feat(cli/doctor): check SDK pod spec version
  packages/cli/src/doctor/index.ts
  packages/cli/src/doctor/ios.ts
Due: none

ci(github): fix build
  .github/workflows/nodejs.yml
Due: none

docs: add troubleshooting
  website/docs/cordova/faq.md
  website/docs/troubleshooting.md
  website/sidebars.js
Due: remark

build(cli): remove @types/clipboardy
  examples/playground/package.json
  packages/cli/package.json
Due: none

refactor(cordova/ios): extract banner load() method
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

chore(cordova/ios): delay prepareStackView()
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

chore(cordova): store opts in MobileAd
  packages/cordova/ts/api.ts
  packages/cordova/ts/banner.ts
  packages/cordova/ts/interstitial.ts
  packages/cordova/ts/rewarded-interstitial.ts
  packages/cordova/ts/rewarded.ts
Due: none

chore(cordova): derive adUnitId from opts
  packages/cordova/ts/api.ts
Due: none

build: convet jest config to typescript
  .watchmanconfig
  jest.config.ts
  package.json
  tsconfig.json
Due: none

feat(capacitor): add configure()
  examples/capacitor/package.json
  packages/capacitor/android/src/main/java/admob/plus/capacitor/AdMobPlusPlugin.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ExecuteContext.java
  packages/capacitor/ios/Plugin/AMBContext.swift
  packages/capacitor/ios/Plugin/AdMobPlusPlugin.m
  packages/capacitor/ios/Plugin/AdMobPlusPlugin.swift
  packages/capacitor/src/definitions.ts
  packages/capacitor/src/web.ts
Due: swiftlint

feat(example/cordova-consent): add form buttons
  examples/cordova-consent/package.json
  examples/cordova-consent/www/index.html
  examples/cordova-consent/www/js/index.js
Due: none

docs: update API docs
  website/docs/capacitor/api/index.md
  website/docs/capacitor/api/interfaces/admobplusplugin.md
  website/docs/cordova/api/classes/bannerad.md
  website/docs/cordova/api/classes/interstitialad.md
  website/docs/cordova/api/classes/mobilead.md
  website/docs/cordova/api/classes/rewardedad.md
  website/docs/cordova/api/classes/rewardedinterstitialad.md
  website/docs/cordova/api/enums/maxadcontentrating.md
  website/docs/cordova/api/enums/platforms.md
  website/docs/cordova/api/enums/trackingauthorizationstatus.md
  website/docs/cordova/api/index.md
  website/docs/cordova/api/interfaces/rewardedadoptions.md
  website/docs/cordova/api/interfaces/rewardedinterstitialadoptions.md
  website/docs/cordova/api/interfaces/serversideverificationoptions.md
  website/docs/ionic/api/enums/trackingauthorizationstatus.md
Due: remark

docs(cordova): add UMP SDK links
  website/docs/cordova/consent/request.md
Due: remark

refactor(cordova-consent/ios): extract optUMPRequestParameters()
  packages/cordova-consent/src/ios/CSNConsent.swift
  packages/cordova-consent/src/ios/CSNContext.swift
Due: swiftlint

chore(example/cordova-consent): enable show form button when form is ready
  examples/cordova-consent/www/js/index.js
Due: none

fix(cordova-consent/ios): prevent id overflow
  packages/cordova-consent/src/ios/CSNConsent.swift
  packages/cordova-consent/src/ios/CSNContext.swift
Due: swiftlint

feat(cordova-consent): allow config debugGeography, testDeviceIds
  examples/cordova-consent/www/js/index.js
  packages/cordova-consent/src/android/ExecuteContext.java
  packages/cordova-consent/src/ios/CSNContext.swift
  packages/cordova-consent/ts/index.ts
Due: swiftlint

feat(example/cordova-consent): add reset button
  examples/cordova-consent/www/index.html
  examples/cordova-consent/www/js/index.js
Due: none

fix(cordova-consent): run form code in main thread, fix #273
  packages/cordova-consent/src/android/Consent.java
Due: none

chore(cordova): set plugin name as package name
  packages/cordova/plugin.xml
Due: none

docs: update API docs
  website/docs/cordova/consent/api/classes/consent.md
  website/docs/cordova/consent/api/classes/consentform.md
  website/docs/cordova/consent/api/enums/consentstatus.md
  website/docs/cordova/consent/api/enums/debuggeography.md
  website/docs/cordova/consent/api/enums/formstatus.md
  website/docs/cordova/consent/api/index.md
  website/sidebar/typedoc-cordova-consent.js
Due: remark

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

docs(capacitor): update README
  packages/capacitor/README.md
Due: remark

feat(cordova/ios): add offset option for banner
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBContext.swift
Due: swiftlint

refactor(cordova/android): remove addBannerView() arguments
  packages/cordova/src/android/ads/Banner.java
Due: none

feat(example/cordova): display ads with buttons
  examples/cordova/www/css/index.css
  examples/cordova/www/index.html
  examples/cordova/www/js/index.js
Due: none

refactor(cordova/android): extract getWebView()
  packages/cordova/src/android/ExecuteContext.java
  packages/cordova/src/android/ads/Banner.java
Due: none

feat(cordova/android): add offset option for banner
  packages/cordova/src/android/ExecuteContext.java
  packages/cordova/src/android/ads/Banner.java
Due: none

docs: list features in README
  README.md
Due: remark

Add a little branding to the readme
  README.md
Due: remark

feat(cordova): add offset option for banner
  packages/cordova/ts/banner.ts
  website/docs/cordova/api/classes/bannerad.md
  website/docs/cordova/api/interfaces/banneradoptions.md
Due: remark

chore: update dependencies
  examples/ionic-angular/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
Due: none

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
