Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint, pkg-deps

remark:
  run: npx remark --no-stdout {staged_files}

swiftlint:
  run: npx node-swiftlint lint --strict --path {staged_files}

pkg-deps:
  run: npx jest test/package-json.test.ts

docs(cordova): update package description
  packages/cordova/package.json
Due: none

chore(cordova): remove generated code
  packages/cordova/__tests__/shared.ts
  packages/cordova/src/www/admob.ts
  packages/cordova/src/www/ads/banner.ts
  packages/cordova/src/www/ads/base.ts
  packages/cordova/src/www/ads/webview.ts
  packages/cordova/src/www/common.ts
  packages/cordova/src/www/generated.ts
  packages/cordova/src/www/index.ts
  packages/cordova/src/www/shared.ts
Due: none

chore(cordova): update cordova-plus
  package.json
  packages/cordova/package.json
  packages/cordova/tsconfig.json
Due: pkg-deps

chore(cordova): remove iosNSAppTransportSecurity
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/cordova/project.json
  packages/cordova/scripts/iosNSAppTransportSecurity.ts
  packages/cordova/scripts/tsconfig.json
  packages/cordova/scripts/util.ts
  packages/cordova/tsconfig.json
  tsconfig.json
Due: none

chore(cordova): update cordova-plus
  package.json
  packages/cordova/package.json
  pnpm-lock.yaml
Due: pkg-deps

feat(cordova/android): remove core Ad class
  packages/cordova/plugin.xml
  packages/cordova/src/android/cordova/AdMob.kt
  packages/cordova/src/android/cordova/ExecuteContext.kt
  packages/cordova/src/android/cordova/ads/AdBase.kt
  packages/cordova/src/android/cordova/ads/AppOpen.kt
  packages/cordova/src/android/cordova/ads/Banner.kt
  packages/cordova/src/android/cordova/ads/Native.kt
  packages/cordova/src/android/cordova/ads/Rewarded.kt
  packages/cordova/src/android/cordova/ads/RewardedInterstitial.kt
  packages/cordova/src/android/core/Ad.kt
  packages/cordova/src/android/core/Context.kt
  packages/cordova/src/android/core/GenericAd.kt
Due: none

fix(cordova/android): onOverrideUrlLoading fires when the WebView is reloaded, fix EYALIN/community-admob-plus#6
  packages/cordova/src/android/cordova/AdMob.kt
Due: none

fix(cordova/ios): add GADIntegrationManager preference
  packages/cordova/plugin.xml
Due: none

docs(cordova): update webview.md
  website/docs/cordova/ads/webview.md
Due: remark

fix(cordova/ios): correct way to use the navigationDelegate and final fix for white screen
  packages/cordova/src/ios/AMBPlugin.swift
Due: swiftlint

fix(cordova/android): add INTEGRATION_MANAGER preference
  packages/cordova/plugin.xml
Due: none

feat(cordova/android): remove old config actions
  packages/cordova/src/android/cordova/AdMob.kt
Due: none

chore(cordova/android): update generate code
  packages/cordova/src/android/cordova/AdMob.kt
  packages/cordova/src/android/cordova/Generated.kt
  packages/cordova/src/www/common.ts
  pnpm-workspace.yaml
  scripts/gen/common.ts
  scripts/gen/cordova.ts
  scripts/gen/index.ts
  scripts/package.json
Due: none

fix(cordova): some fixes for the WebView API for Ads (#582)
  packages/cordova/plugin.xml
  packages/cordova/src/android/cordova/AdMob.kt
  packages/cordova/src/ios/AMBPlugin.swift
  website/docs/cordova/ads/webview.md
Due: remark, swiftlint

feat(cordova-webview-ad): init plugin
  package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/.gitignore
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova-webview-ad/src/android/Plugin.kt
  packages/cordova-webview-ad/src/ios/AdMobWebviewAdPlugin.swift
  packages/cordova-webview-ad/src/www/index.ts
  packages/cordova/src/android/cordova/AdMob.kt
Due: swiftlint, pkg-deps

chore: update lerna to v7
  lerna.json
  nx.json
  package.json
Due: pkg-deps

fix(cordova/android): iterate over values without cast, fix #583
  packages/cordova/src/android/cordova/AdMob.kt
Due: none

refactor(cordova): remove satisfies keyword usage
  packages/cordova/src/www/admob.ts
Due: none

docs(cordova): add ad id note
  website/docs/cordova/upgrade.md
Due: remark

docs: update API docs
  pnpm-lock.yaml
  website/docs/cordova/api/classes/AdMob.md
  website/docs/cordova/api/classes/AppOpenAd.md
  website/docs/cordova/api/classes/BannerAd.md
  website/docs/cordova/api/classes/InterstitialAd.md
  website/docs/cordova/api/classes/MobileAd.md
  website/docs/cordova/api/classes/NativeAd.md
  website/docs/cordova/api/classes/RewardedAd.md
  website/docs/cordova/api/classes/RewardedInterstitialAd.md
  website/docs/cordova/api/classes/WebViewAd.md
  website/docs/cordova/api/enums/AdSizeType.md
  website/docs/cordova/api/enums/Events.md
  website/docs/cordova/api/enums/Platform.md
  website/docs/cordova/api/index.md
  website/docs/cordova/api/interfaces/AdMobConfig.md
  website/docs/cordova/api/interfaces/BannerAdOptions.md
  website/docs/cordova/api/interfaces/RequestConfig.md
  website/package.json
Due: remark

ci(github): add pnpm install fallback
  .github/workflows/ci.yml
  package.json
Due: pkg-deps

chore(release): publish
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/CHANGELOG.md
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  pnpm-lock.yaml
Due: remark

docs(cordova): list removed ad events
  website/docs/cordova/upgrade.md
Due: remark

chore(cli): update dependencies
  packages/cli/package.json
  packages/cli/project.json
  pnpm-lock.yaml
Due: none

build(cordova): install missing tslib
  packages/cordova/package.json
  pnpm-lock.yaml
Due: none

chore(capacitor): update dependencies
  packages/capacitor/package.json
  pnpm-lock.yaml
Due: none

feat(capacitor): require @capacitor/core >= 3, fix #529, #551
  packages/capacitor/package.json
Due: none

build(ionic): replace ts-node with tsx
  packages/ionic/package.json
  packages/ionic/scripts/build.ts
  pnpm-lock.yaml
Due: none

ci(github): run nx prepare
  .github/workflows/ci.yml
  package.json
Due: pkg-deps

build(ionic): output pretty package.json
  packages/ionic/scripts/build.ts
Due: none

build: clean up deps
  package.json
  pnpm-lock.yaml
  scripts/package.json
Due: pkg-deps

build: replace lefthook with simple-git-hooks
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: pkg-deps

chore(internal): extract npm-bin
  examples/cordova/package.json
  internal/cli/package.json
  internal/npm-bin/.gitignore
  internal/npm-bin/package.json
  internal/npm-bin/src/npm.ts
  internal/npm-bin/tsconfig.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: pkg-deps

chore(internal/npm-bin): log with pino
  internal/npm-bin/package.json
  internal/npm-bin/src/npm.ts
  pnpm-lock.yaml
Due: none

chore(cli): compile bin script
  packages/cli/package.json
  packages/cli/src/main.ts
  pnpm-lock.yaml
Due: none

feat(cordova-webview-ad/ios): moved code from cordova/ios
  packages/cordova-webview-ad/src/ios/AdMobWebviewAdPlugin.swift
  packages/cordova/src/ios/AMBPlugin.swift
Due: swiftlint

fix(cordova-webview-ad): Initialize plugin
  packages/cordova-webview-ad/src/www/index.ts
Due: none

feat(cordova-webview-ad/ios): moved code from cordova/ios (#586)
  packages/cordova-webview-ad/src/ios/AdMobWebviewAdPlugin.swift
  packages/cordova-webview-ad/src/www/index.ts
  packages/cordova/src/ios/AMBPlugin.swift
  website/docs/cordova/ads/webview.md
Due: remark, swiftlint

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
  pkg-deps: any of: package.json
