Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint -e

pre-commit:
  parallel: true
  commands:
    fixer:
      run: >
        lefthook run fixer &&
        git add {staged_files}
    remark:
      glob: "*.md"
      run: yarn remark --no-stdout {staged_files}
    swiftlint:
      glob: "*.swift"
      run: yarn node-swiftlint lint --strict --path {staged_files}

pre-push:
  parallel: true
  commands:
    jest:
      run: yarn jest

fixer:
  parallel: true
  commands:
    js-fixer:
      glob: "*.{js,jsx,ts,tsx}"
      run: >
        yarn prettier-eslint --write {staged_files} &&
        yarn eslint --ext .js,.jsx,.ts,tsx --fix {staged_files}
    pkg-json-fixed:
      glob: examples/*/package.json
      run: yarn prettier --write {staged_files}

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/pkg-proxy/CHANGELOG.md
  packages/pkg-proxy/package.json
Due: remark

chore: update dependencies
  examples/playground/package.json
  examples/react-native/package.json
  package.json
  packages/react-native/package.json
Due: none

docs(cordova): state `npa` could be used for all ad formats, close #337
  website/docs/cordova/consent/request.md
Due: remark

docs: remove trailiing slash
  website/package.json
  website/src/theme/LayoutHead/index.tsx
  website/tsconfig.json
Due: none

ci(github): update lychee-action
  .github/workflows/nodejs.yml
Due: none

feat(internal/cli): handle ionic-angular dev command
  internal/cli/src/example.ts
Due: none

chore(example/ionic-angular): install example cli
  examples/ionic-angular/package.json
Due: none

fix(cordova/android): focus content view, #326
  packages/cordova/src/android/ads/Banner.java
Due: none

chore(release): publish
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

feat(capacitor/android): update googlePlayServicesAdsVersion to 20.1.0
  packages/capacitor/android/build.gradle
Due: none

feat: update Google-Mobile-Ads-SDK to 8.5.0
  packages/capacitor/AdmobPlusCapacitor.podspec
  packages/capacitor/ios/Podfile
  packages/cordova/plugin.xml
  packages/react-native/AdMobPlusRN.podspec
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  internal/cli/package.json
  packages/cli/package.json
  packages/ionic/package.json
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

chore: fix type error
  package.json
  website/src/theme/LayoutHead/index.tsx
Due: none

feat(internal/cli): handle capacitor example dev command
  examples/capacitor/package.json
  examples/capacitor/src/main.js
  internal/cli/src/example.ts
Due: none

refactor(capacitor/ios): move rootViewController, window to AMBContext
  packages/capacitor/ios/Plugin/AMBAdBase.swift
  packages/capacitor/ios/Plugin/AMBBanner.swift
  packages/capacitor/ios/Plugin/AMBContext.swift
  packages/capacitor/ios/Plugin/AMBInterstitial.swift
  packages/capacitor/ios/Plugin/AMBRewarded.swift
  packages/capacitor/ios/Plugin/AMBRewardedInterstitial.swift
Due: swiftlint

refactor(capacitor/ios): remove AMBAdBase.plugin
  packages/capacitor/ios/Plugin/AMBAdBase.swift
  packages/capacitor/ios/Plugin/AMBBanner.swift
  packages/capacitor/ios/Plugin/AMBContext.swift
Due: swiftlint

Typo fix
  README.md
Due: remark

chore(capacitor): update capacitor
  examples/capacitor/android/capacitor.settings.gradle
  examples/capacitor/ios/App/Podfile
  examples/capacitor/package.json
  packages/capacitor/package.json
Due: none

feat(capacitor/ios): manage webview size by placeholder view
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

docs(readme): add comma (#340)
  README.md
Due: remark

refactor(cli/install): fix typo
  packages/cli/src/cmds/install.ts
Due: none

chore: update dependencies
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
Due: none

docs(faq): document policy violation
  package.json
  website/docs/troubleshooting.md
  website/package.json
Due: remark

refactor(cli/install): extract confirmThenRun()
  packages/cli/src/cmds/install.ts
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/pkg-proxy/CHANGELOG.md
  packages/pkg-proxy/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

docs(ionic): add ionic-angular note
  website/docs/ionic/installation.mdx
Due: none

refactor(capacitor/android): extract AdMobHelper.buildRequestConfiguration()
  examples/capacitor/android/capacitor.settings.gradle
  examples/capacitor/ios/App/Podfile
  packages/capacitor/android/src/main/java/admob/plus/AdMobHelper.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/AdMobPlusPlugin.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ExecuteContext.java
Due: none

refactor(cordova/android): rename package to admob.plus.cordova
  internal/cli/src/example.ts
  internal/cli/src/gen/admob.ts
  packages/cli/README.md
  packages/cordova/plugin.xml
  packages/cordova/src/android/ads/IAdLoad.java
  packages/cordova/src/android/ads/IAdShow.java
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/ExecuteContext.java
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/android/cordova/ads/AdBase.java
  packages/cordova/src/android/cordova/ads/Banner.java
  packages/cordova/src/android/cordova/ads/IAdIsLoaded.java
  packages/cordova/src/android/cordova/ads/IAdLoad.java
  packages/cordova/src/android/cordova/ads/IAdShow.java
  packages/cordova/src/android/cordova/ads/Interstitial.java
  packages/cordova/src/android/cordova/ads/Rewarded.java
  packages/cordova/src/android/cordova/ads/RewardedInterstitial.java
Due: remark

refactor(cordova/android): utilize AdMobHelper.buildRequestConfiguration()
  internal/cli/src/gen/admob.ts
  packages/cordova/plugin.xml
  packages/cordova/src/android/AdMobHelper.java
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/ExecuteContext.java
Due: none

chore(cordova/android): use pluginInitialize()
  packages/cordova/src/android/cordova/AdMob.java
Due: none

refactor(cordova/android): utilize AdMobHelper.isRunningInTestLab()
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/ExecuteContext.java
Due: none

Clear function added.
  packages/cordova/src/ios/AMBInterstitial.swift
Due: swiftlint

chore: update dependencies
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/ionic/scripts/build.ts
  packages/pkg-proxy/package.json
Due: none

self.emit and self.clear() lines changed.
  packages/cordova/src/ios/AMBInterstitial.swift
Due: swiftlint

fix(cordova/ios): add clear function (#346)
  packages/cordova/src/ios/AMBInterstitial.swift
Due: swiftlint

chore(cordova): convert hook scripts to TypeScript
  .eslintignore
  package.json
  packages/cordova/package.json
  packages/cordova/scripts/.gitignore
  packages/cordova/scripts/iosNSAppTransportSecurity.ts
  packages/cordova/scripts/tsconfig.json
  tsconfig.json
Due: none

fix(cli): fix type error
  packages/cli/src/cmds/info.ts
  packages/cli/src/cmds/install.ts
Due: none

fix(cordova/ios): add clear for full-screen ads
  packages/cordova/src/ios/AMBInterstitial.swift
  packages/cordova/src/ios/AMBRewarded.swift
  packages/cordova/src/ios/AMBRewardedInterstitial.swift
Due: swiftlint
