Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

remark:
  run: yarn remark --no-stdout {staged_files}

swiftlint:
  run: yarn node-swiftlint lint --strict --path {staged_files}

refactor(react-native/ios): use enum for events
  internal/cli/src/gen/index.ts
  internal/cli/src/gen/rn.ts
  internal/cli/src/gen/shared.ts
  packages/react-native/ios/AMBAdBase.swift
  packages/react-native/ios/AMBGenerated.swift
  packages/react-native/ios/RNAdMobPlus.swift
Due: swiftlint

refactor(internal/cli): extract extractClassInfo()
  internal/cli/src/gen/capacitor.ts
Due: none

chore(react-native/ios): generate methods macro
  .eslintrc.js
  internal/cli/src/gen/rn.ts
  packages/react-native/ios/RNAdMobPlus.m
Due: none

chore: update dependencies
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/react-native/package.json
  website/docs/capacitor/api/classes/bannerad.md
  website/docs/capacitor/api/classes/interstitialad.md
  website/docs/capacitor/api/classes/rewardedad.md
  website/docs/capacitor/api/classes/rewardedinterstitialad.md
  website/docs/capacitor/api/index.md
  website/docs/cordova/api/classes/mobilead.md
  website/docs/cordova/api/index.md
  website/docs/cordova/api/interfaces/banneradoptions.md
  website/docs/cordova/api/interfaces/rewardedadoptions.md
  website/docs/cordova/consent/api/classes/consent.md
  website/docs/cordova/consent/api/index.md
  website/docs/ionic/api/classes/admob.md
  website/docs/ionic/api/classes/bannerad.md
  website/docs/ionic/api/classes/interstitialad.md
  website/docs/ionic/api/classes/rewardedad.md
  website/docs/ionic/api/classes/rewardedinterstitialad.md
  website/docs/ionic/api/index.md
  website/package.json
Due: remark

fix(internal/cli): fix type error
  internal/cli/src/gen/rn.ts
Due: none

docs: update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: remark

ci(github): build admob-plus-cordova
  .github/workflows/nodejs.yml
Due: none

fix(capacitor/ios): keep webview inside stackview, fix #298
  .swiftlint.yml
  packages/capacitor/ios/Plugin/AMBBanner.swift
Due: swiftlint

ci(github): deploy Github Pages with SSH
  .github/workflows/nodejs.yml
Due: none

feat(react-native/ios): implement RewardedAd, RewardedInterstitialAd
  internal/cli/src/gen/rn.ts
  packages/react-native/ios/AMBAdBase.swift
  packages/react-native/ios/AMBContext.swift
  packages/react-native/ios/AMBGenerated.swift
  packages/react-native/ios/AMBRewarded.swift
  packages/react-native/ios/AMBRewardedInterstitial.swift
  packages/react-native/ios/RNAdMobPlus.m
  packages/react-native/src/definitions.ts
  packages/react-native/src/index.ts
Due: swiftlint

feat(react-native/android): implement ads
  packages/react-native/android/src/main/java/admob/plus/rn/ExecuteContext.java
  packages/react-native/android/src/main/java/admob/plus/rn/Generated.java
  packages/react-native/android/src/main/java/admob/plus/rn/RNAdMobPlusModule.java
  packages/react-native/android/src/main/java/admob/plus/rn/RNAdMobPlusPackage.java
  packages/react-native/android/src/main/java/admob/plus/rn/ads/AdBase.java
  packages/react-native/android/src/main/java/admob/plus/rn/ads/Interstitial.java
  packages/react-native/android/src/main/java/admob/plus/rn/ads/Rewarded.java
  packages/react-native/android/src/main/java/admob/plus/rn/ads/RewardedInterstitial.java
Due: none

feat(example/cordova): display offset banner
  examples/cordova/www/index.html
  examples/cordova/www/js/index.js
  examples/playground/package.json
Due: none

feat(cordova/android): handle banner view lifecycle
  packages/cordova/src/android/AdMob.java
  packages/cordova/src/android/ExecuteContext.java
  packages/cordova/src/android/ads/AdBase.java
  packages/cordova/src/android/ads/Banner.java
Due: none

refactor(cordova/android): rename destroy() to onDestroy()
  packages/cordova/src/android/AdMob.java
  packages/cordova/src/android/ads/AdBase.java
  packages/cordova/src/android/ads/Banner.java
  packages/cordova/src/android/ads/Interstitial.java
  packages/cordova/src/android/ads/Rewarded.java
  packages/cordova/src/android/ads/RewardedInterstitial.java
Due: none

fix(cordova/android): recreate banner view on rotation, fix #301
  packages/cordova/src/android/AdMob.java
  packages/cordova/src/android/ads/AdBase.java
  packages/cordova/src/android/ads/Banner.java
Due: none

fix(cordova/android): make sure offset banner always on top
  packages/cordova/src/android/ads/Banner.java
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
Due: none

docs(ionic): document admob instance injection
  examples/ionic-angular/package.json
  website/docs/ionic/getting-started.md
Due: remark

docs(cordova): add --save flag to install command
  website/docs/cordova/installation.mdx
Due: none

docs(ionic): set config before running install commands
  website/docs/ionic/installation.mdx
Due: none

build(react-native): enable for publish
  packages/react-native/package.json
Due: none

feat(cli/info): include typescript version
  packages/cli/src/cmds/info.ts
Due: none

build(example/ionic-angular): move ngcc to prepare script
  examples/ionic-angular/package.json
Due: none

feat: update Google-Mobile-Ads-SDK to 8.3.0
  packages/capacitor/AdmobPlusCapacitor.podspec
  packages/capacitor/ios/Podfile
  packages/react-native/AdMobPlusRN.podspec
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

build(react-native): enable for publish
  lerna.json
Due: none

feat(cli): add print test-ids command
  packages/cli/package.json
  packages/cli/src/cmds/test-ids.ts
  packages/cli/src/doctor/admob.ts
  packages/cli/src/index.ts
  packages/cli/src/test-ids.ts
  website/docs/cordova/test-ads.md
Due: remark

docs(github): add bug report issue template per package
  .github/ISSUE_TEMPLATE/bug_capacitor.md
  .github/ISSUE_TEMPLATE/bug_cordova.md
  .github/ISSUE_TEMPLATE/bug_ionic.md
  .github/ISSUE_TEMPLATE/bug_react_native.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: remark

chore(capacitor/android): remove unused files
  packages/capacitor/android/gradle.properties
  packages/capacitor/android/gradle/wrapper/gradle-wrapper.jar
  packages/capacitor/android/gradle/wrapper/gradle-wrapper.properties
  packages/capacitor/android/gradlew
  packages/capacitor/android/gradlew.bat
  packages/capacitor/android/proguard-rules.pro
  packages/capacitor/android/settings.gradle
Due: none

fix(cordova/ios): keep webview superview unchanged, fix #297
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

chore: update package keywords
  packages/cordova/package.json
  packages/react-native/package.json
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

fix(cordova/android): only add parentView when changed, fix #304
  examples/cordova/package.json
  packages/cordova/src/android/AdMob.java
  packages/cordova/src/android/ads/Banner.java
Due: none

chore(release): publish
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

chore(capacitor/android): remove debug listeners
  packages/cordova/src/android/ads/Banner.java
Due: none

refactor(cordova/android): extract parentViewWithout()
  packages/cordova/src/android/ads/Banner.java
Due: none

chore(cordova/android): handle pause and resume for old banner view
  packages/cordova/src/android/ads/Banner.java
Due: none

refactor(cordova/android): rename parentView to rootLinearLayout
  packages/cordova/src/android/ads/Banner.java
Due: none

refactor(cordova/android): extract getParentView()
  packages/cordova/src/android/ads/Banner.java
Due: none

docs(readme): resize logo
  README.md
Due: remark

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
