Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

remark:
  run: yarn remark --no-stdout {staged_files}

swiftlint:
  run: yarn node-swiftlint lint --strict --path {staged_files}

docs(users): add Fantasy Sports Teams app
  website/src/data/users.ts
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/cordova-consent/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/ionic/package.json
Due: none

feat(example/playground): add banner load button
  examples/playground/src/routes/BannerAd.tsx
Due: none

fix(cordova/ios): add offset banner view to root view, fix #305
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

refactor(cordova/ios): extract AMBBanner.safeAreaLayoutGuide
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

refactor(cordova/ios): utilize Self
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

fix(cordova/android): build AdSize correctly, fix #307
  internal/cli/src/gen/admob.ts
  packages/cli/README.md
  packages/cordova/src/android/ExecuteContext.java
  packages/cordova/src/android/Generated.java
  packages/cordova/src/android/ads/Banner.java
Due: remark

chore(capacitor/ios): use fallback for < iOS 11
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

fix(cordova/ios): avoid stack view being covered, fix #306
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

chore(release): publish
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

docs(readme): use Discussions for feature requests
  README.md
Due: remark

feat(cordova/ios): add BannerAd.config()
  internal/cli/src/gen/admob.ts
  packages/cordova/src/android/Generated.java
  packages/cordova/src/browser/AdMobProxy.js
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBContext.swift
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/ts/banner.ts
  packages/cordova/ts/generated.ts
Due: swiftlint

refactor(cordova/ios): extract priortyLeast
  examples/cordova/www/js/index.js
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

refactor(cordova/ios): move prepareStackView() to static
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

feat(capacitor): extract nextId()
  packages/capacitor/src/index.ts
Due: none

feat(capacitor): enable banner position option, fix #309
  examples/capacitor/src/main.js
  packages/capacitor/src/index.ts
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

fix(cordova/ios): do not prepare stack view for offset banner
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

feat(cordova/ios): allow config backgroundColor
  examples/cordova/www/js/index.js
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBContext.swift
  packages/cordova/ts/banner.ts
Due: swiftlint

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/ionic/package.json
Due: none

docs: update API docs
  website/docs/capacitor/api/classes/bannerad.md
  website/docs/capacitor/api/classes/interstitialad.md
  website/docs/capacitor/api/classes/rewardedad.md
  website/docs/capacitor/api/classes/rewardedinterstitialad.md
  website/docs/capacitor/api/index.md
  website/docs/capacitor/api/interfaces/admobplusplugin.md
  website/docs/capacitor/api/interfaces/banneradoptions.md
  website/docs/cordova/api/classes/bannerad.md
  website/docs/cordova/api/enums/adsizetype.md
  website/docs/cordova/api/enums/events.md
  website/docs/cordova/api/enums/nativeactions.md
  website/docs/cordova/api/interfaces/banneradoptions.md
  website/sidebar/typedoc-capacitor.js
Due: remark

docs(cordova): document admob.BannerAd.config()
  website/docs/cordova/ads/banner.md
Due: remark

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

chore(react-native/ios): change native module name
  examples/react-native/package.json
  internal/cli/src/gen/rn.ts
  package.json
  packages/react-native/ios/AMBAdBase.swift
  packages/react-native/ios/AMBContext.swift
  packages/react-native/ios/AdMobPlusRN-Bridging-Header.h
  packages/react-native/ios/AdMobPlusRN.m
  packages/react-native/ios/AdMobPlusRN.swift
  packages/react-native/ios/AdMobPlusRN.xcodeproj/project.pbxproj
  packages/react-native/ios/AdMobPlusRN.xcworkspace/contents.xcworkspacedata
  packages/react-native/ios/AdMobPlusRN.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/react-native/ios/AdMobPlusRN.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/react-native/src/index.ts
Due: swiftlint

chore(example/react-native): add Bridging-Header
  examples/react-native/ios/AdMobPlusRNExample-Bridging-Header.h
  examples/react-native/ios/AdMobPlusRNExample.xcodeproj/project.pbxproj
  examples/react-native/ios/AdMobPlusRNExample/File.swift
Due: swiftlint

chore: update dependencies
  examples/capacitor/package.json
  examples/playground/package.json
  examples/react-native/package.json
  package.json
  packages/cli/package.json
  packages/react-native/package.json
Due: none

fix(cordova/ios): reserve space for statusBarBackgroundView, fix #310
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

feat(cordova/ios): update Google-Mobile-Ads-SDK to 8.4.0
  packages/cordova/plugin.xml
Due: none

feat(cordova/android): update PLAY_SERVICES_VERSION to 20.0.0
  packages/cordova/plugin.xml
  website/docs/cordova/installation.mdx
Due: none

feat(capacitor/ios): update Google-Mobile-Ads-SDK to 8.4.0
  packages/capacitor/AdmobPlusCapacitor.podspec
  packages/capacitor/ios/Podfile
Due: none

feat(capacitor/android): update com.google.android.gms:play-services-ads to 20.0.0
  packages/capacitor/android/build.gradle
Due: none

feat(react-native/ios): update Google-Mobile-Ads-SDK to 8.4.0
  packages/react-native/AdMobPlusRN.podspec
Due: none

chore(example/react-native): make it run
  examples/react-native/ios/AdMobPlusRNExample/Info.plist
  package.json
Due: none

feat(example/react-native): add ad buttons
  examples/react-native/App.tsx
Due: none

fix(cordova/android): prevent crash on showing offset banner twice, fix #319
  packages/cordova/src/android/ads/Banner.java
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/rollup-config/package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/react-native/package.json
Due: none

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
