Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint -e

pre-commit:
  parallel: true
  commands:
    fixer:
      run: >
        lefthook run fixer &&
        git add {staged_files}
    remark:
      glob: "*.md"
      run: yarn remark --no-stdout {staged_files}
    swiftlint:
      glob: "*.swift"
      run: yarn node-swiftlint lint --strict --path {staged_files}

pre-push:
  parallel: true
  commands:
    jest:
      run: yarn jest

fixer:
  parallel: true
  commands:
    js-fixer:
      glob: "*.{js,jsx,ts,tsx}"
      run: >
        yarn prettier-eslint --write {staged_files} &&
        yarn eslint --ext .js,.jsx,.ts,tsx --fix {staged_files}
    pkg-json-fixed:
      glob: examples/*/package.json
      run: yarn prettier --write {staged_files}

chore(internal/cli): remove read-pkg
  internal/cli/package.json
  internal/cli/src/example.ts
  internal/cli/src/utils.ts
Due: none

chore(cordova/android): reload banner view in main thread
  packages/cordova/src/android/ads/Banner.java
Due: none

feat(cordova/android): update PLAY_SERVICES_VERSION to 20.1.0
  packages/cordova/plugin.xml
  website/docs/cordova/installation.mdx
Due: none

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/pkg-proxy/CHANGELOG.md
  packages/pkg-proxy/package.json
Due: remark

build: move tsc to prepare script
  package.json
Due: none

ci(github): run prepare script
  .github/workflows/nodejs.yml
Due: none

build: build pkg-proxy first
  tsconfig.json
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
Due: none

fix(cli/doctor): read PLAY_SERVICES_VERSION from plugin.xml
  packages/cli/src/doctor/cordova.ts
Due: none

fix(internal/cli): resolve argv
  internal/cli/src/example.ts
Due: none

refactor(cli/doctor): add playServicesVersion to ctx
  packages/cli/src/doctor/cordova.ts
  packages/cli/src/doctor/index.ts
  packages/cli/src/doctor/listr.ts
Due: none

fix(cli/doctor): read Google-Mobile-Ads-SDK version from plugin.xml
  packages/cli/src/doctor/cocoapods.ts
  packages/cli/src/doctor/cordova.ts
  packages/cli/src/doctor/index.ts
  packages/cli/src/doctor/listr.ts
Due: none

ci(github): test with Node v16
  .github/workflows/nodejs.yml
Due: none

fix(cordova/android): do not reload hidden banner, fix #332
  packages/cordova/src/android/ads/Banner.java
Due: none

build(ionic): copy in parallel
  packages/ionic/scripts/build.ts
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/pkg-proxy/CHANGELOG.md
  packages/pkg-proxy/package.json
Due: remark

ci(github): stream lerna run output
  .github/workflows/nodejs.yml
Due: none

chore: update dependencies
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
Due: none

docs(cordova): document proguard rules, close #330
  website/docs/cordova/installation.mdx
Due: none

build(ionic): revert fs-extra to v9.1.0
  packages/ionic/package.json
Due: none

fix(cordova/android): reload hidden banner on size change, fix #327
  packages/cordova/src/android/ads/Banner.java
Due: none

feat(internal/cli): geneate cordova admob.banner.size event
  internal/cli/src/gen/admob.ts
  packages/cordova/ts/generated.ts
Due: none

feat(capacitor): add requestTrackingAuthorization(), fix #333
  examples/capacitor/ios/App/App/Info.plist
  examples/capacitor/package.json
  examples/capacitor/src/main.js
  internal/cli/src/gen/admob.ts
  internal/cli/src/gen/capacitor.ts
  packages/capacitor/android/src/main/java/admob/plus/capacitor/AdMobPlusPlugin.java
  packages/capacitor/ios/Plugin/AMBContext.swift
  packages/capacitor/ios/Plugin/AdMobPlusPlugin.m
  packages/capacitor/ios/Plugin/AdMobPlusPlugin.swift
  packages/capacitor/src/definitions.ts
  packages/capacitor/src/web.ts
  website/docs/capacitor/api/enums/trackingauthorizationstatus.md
  website/docs/capacitor/api/index.md
  website/docs/capacitor/api/interfaces/admobplusplugin.md
  website/docs/capacitor/installation.mdx
  website/docs/cordova/api/enums/adsizetype.md
  website/docs/cordova/api/enums/events.md
Due: remark, swiftlint

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/pkg-proxy/CHANGELOG.md
  packages/pkg-proxy/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

docs(capacitor): update README
  packages/capacitor/README.md
Due: remark

chore: update dependencies
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/rollup-config/package.json
  package.json
Due: none

feat(pkg-proxy): export PkgProxy
  packages/pkg-proxy/src/index.ts
Due: none

feat(cli): add install command
  packages/cli/package.json
  packages/cli/src/cmds/install.ts
  packages/cli/src/index.ts
Due: none

feat(cli/install): add capacitor support
  packages/cli/src/cmds/install.ts
Due: none

build: install canvas for test
  package.json
Due: none

docs(react-native): geneate API docs
  website/docs/react-native/api/_category_.yml
  website/docs/react-native/api/classes/_category_.yml
  website/docs/react-native/api/classes/interstitialad.md
  website/docs/react-native/api/classes/rewardedad.md
  website/docs/react-native/api/classes/rewardedinterstitialad.md
  website/docs/react-native/api/enums/_category_.yml
  website/docs/react-native/api/enums/maxadcontentrating.md
  website/docs/react-native/api/index.md
  website/docs/react-native/api/interfaces/_category_.yml
  website/docs/react-native/api/interfaces/admobplusplugin.md
  website/docusaurus.config.js
  website/sidebar/typedoc-react-native.js
Due: remark

docs(react-native): document installation
  examples/react-native/package.json
  website/docs/react-native/installation.md
  website/sidebars.js
Due: remark

docs(ionic): fix API entry point
  website/docs/ionic/api/classes/_category_.yml
  website/docs/ionic/api/classes/admob.md
  website/docs/ionic/api/classes/bannerad.md
  website/docs/ionic/api/classes/interstitialad.md
  website/docs/ionic/api/classes/rewardedad.md
  website/docs/ionic/api/classes/rewardedinterstitialad.md
  website/docs/ionic/api/enums/_category_.yml
  website/docs/ionic/api/enums/trackingauthorizationstatus.md
  website/docs/ionic/api/index.md
  website/docusaurus.config.js
Due: remark

docs(react-native): docuement ad formats
  examples/react-native/App.tsx
  website/docs/react-native/ads/interstitial.md
  website/docs/react-native/ads/rewarded-interstitial.md
  website/docs/react-native/ads/rewarded.md
  website/sidebars.js
Due: remark

docs(react-native): document installation config
  website/docs/react-native/installation.md
  website/docs/react-native/installation.mdx
Due: remark

feat(cli/install): add --project option
  examples/react-native/package.json
  packages/cli/src/cmds/install.ts
Due: none

feat(cli/install): handle react-native install
  packages/cli/src/cmds/install.ts
Due: none

docs(cordova): document admob-plus install
  website/docs/cordova/installation.mdx
Due: none

docs(react-native): add link to index
  website/docs/index.md
Due: remark
