Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint, pkg-deps

remark:
  run: npx remark --no-stdout {staged_files}

swiftlint:
  run: npx node-swiftlint lint --strict --path {staged_files}

pkg-deps:
  run: npx jest test/package-json.test.ts

fix(cordova/android): clone map to remove item safely, #592
  packages/cordova/src/android/cordova/AdMob.kt
Due: none

build(example/playground): build before test-android
  examples/playground/package.json
  package.json
  pnpm-lock.yaml
Due: pkg-deps

build(capacitor): remove build script
  packages/capacitor/package.json
Due: none

docs(capacitor): add documentation link in README
  package.json
  packages/capacitor/README.md
  pnpm-lock.yaml
Due: remark, pkg-deps

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/CHANGELOG.md
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  pnpm-lock.yaml
Due: remark

refactor(cordova-consent): extract actions
  packages/cordova-consent/src/android/Consent.kt
Due: none

refactor: extract getUnionTypeDict
  scripts/gen/common.ts
  scripts/gen/cordova.ts
Due: none

refactor(scripts): extract generator Context
  scripts/gen/context.ts
  scripts/gen/cordova.ts
  scripts/gen/docs.ts
  scripts/gen/index.ts
  scripts/package.json
Due: none

chore(cordova-consent/android): remove Generated class
  packages/cordova-consent/src/android/Consent.kt
  packages/cordova-consent/src/android/Generated.kt
  scripts/gen/consent.ts
  scripts/gen/index.ts
Due: none

chore(scripts): add renderKotlinEnums
  scripts/gen/common.ts
  scripts/gen/consent.ts
Due: none

feat(cordova/android): update PLAY_SERVICES_VERSION to 22.5.0
  packages/cordova/plugin.xml
  pnpm-lock.yaml
  website/docs/cordova/installation.mdx
Due: none

chore(example/cordova): update cordova-android
  examples/cordova/config.xml
  pnpm-lock.yaml
Due: none

feat(example/playground): update mantine to v7
  examples/playground/package.json
  examples/playground/src/App.tsx
  examples/playground/src/components/Logs.tsx
  examples/playground/src/main.tsx
  examples/playground/src/pages/BannerAd.tsx
  examples/playground/src/pages/Home.tsx
  pnpm-lock.yaml
Due: none

feat(consent/android): update UMP_VERSION to v2.1.0
  packages/cordova-consent/plugin.xml
Due: none

feat(cordova/ios): update Google-Mobile-Ads-SDK to 10.13.0
  packages/cordova/plugin.xml
Due: none

build: avoid circular nx build
  flake.lock
  flake.nix
  package.json
  pnpm-lock.yaml
  project.json
Due: pkg-deps

chore: update nx to v17
  flake.nix
  package.json
  pnpm-lock.yaml
Due: pkg-deps

feat(cordova/ios): update Google-Mobile-Ads-SDK to 10.14.0
  packages/cordova/plugin.xml
  packages/cordova/src/ios/AMBCore.swift
  packages/cordova/src/www/common.ts
  pnpm-lock.yaml
  scripts/package.json
Due: swiftlint

feat(cordova-consent/ios): update GoogleUserMessagingPlatform to 2.1.0
  packages/cordova-consent/plugin.xml
  packages/cordova-consent/src/ios/CSNConsent.swift
  packages/cordova-consent/src/www/index.ts
Due: swiftlint

feat(cordova-consent/android): implement new actions
  packages/cordova-consent/src/android/Consent.kt
  packages/cordova-consent/src/android/ExecuteContext.kt
  packages/cordova-consent/src/android/Generated.kt
  packages/cordova/plugin.xml
  scripts/package.json
  website/docs/cordova/installation.mdx
Due: none

chore(cordova-consent): rename present to show
  packages/cordova-consent/src/android/Consent.kt
  packages/cordova-consent/src/android/Generated.kt
  packages/cordova-consent/src/ios/CSNConsent.swift
  packages/cordova-consent/src/www/index.ts
Due: swiftlint

docs: update API docs
  pnpm-lock.yaml
  website/docs/capacitor/api/classes/BannerAd.md
  website/docs/capacitor/api/classes/InterstitialAd.md
  website/docs/capacitor/api/classes/RewardedAd.md
  website/docs/capacitor/api/classes/RewardedInterstitialAd.md
  website/docs/capacitor/api/interfaces/AdMobPlusPlugin.md
  website/docs/cordova/api/classes/AdMob.md
  website/docs/cordova/api/classes/AppOpenAd.md
  website/docs/cordova/api/classes/BannerAd.md
  website/docs/cordova/api/classes/InterstitialAd.md
  website/docs/cordova/api/classes/MobileAd.md
  website/docs/cordova/api/classes/NativeAd.md
  website/docs/cordova/api/classes/RewardedAd.md
  website/docs/cordova/api/classes/RewardedInterstitialAd.md
  website/docs/cordova/api/classes/WebViewAd.md
  website/docs/cordova/api/index.md
  website/docs/cordova/api/interfaces/AdMobConfig.md
  website/docs/cordova/consent/api/classes/Consent.md
  website/docs/cordova/consent/api/classes/ConsentForm.md
  website/docs/cordova/consent/api/enums/DebugGeography.md
  website/docs/cordova/consent/api/enums/Events.md
  website/docs/cordova/consent/api/enums/FormStatus.md
  website/docs/cordova/consent/api/enums/PrivacyOptionsRequirementStatus.md
  website/docs/cordova/consent/api/enums/TrackingAuthorizationStatus.md
  website/docs/cordova/consent/api/index.md
  website/docs/ionic/api/classes/AdMob.md
  website/docs/ionic/api/classes/BannerAd.md
  website/docs/ionic/api/classes/InterstitialAd.md
  website/docs/ionic/api/classes/NativeAd.md
  website/docs/ionic/api/classes/RewardedAd.md
  website/docs/ionic/api/classes/RewardedInterstitialAd.md
  website/docs/react-native/api/classes/InterstitialAd.md
  website/docs/react-native/api/classes/RewardedAd.md
  website/docs/react-native/api/classes/RewardedInterstitialAd.md
  website/package.json
Due: remark

chore(example/playground): add new consent method buttons
  examples/playground/package.json
  examples/playground/src/pages/Consent.tsx
  package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  pnpm-lock.yaml
Due: pkg-deps

docs(cordova-consent): update to use new API
  pnpm-lock.yaml
  website/docs/cordova/consent/request.md
Due: remark

feat(pkg-proxy): require node >= 18
  packages/pkg-proxy/package.json
  packages/pkg-proxy/src/index.ts
  packages/pkg-proxy/tsconfig.json
  pnpm-lock.yaml
Due: none

test: replace jest with vitest
  .eslintrc.cjs
  jest.config.ts
  package.json
  packages/cordova/__tests__/admob.test.ts
  packages/pkg-proxy/test.spec.ts
  pnpm-lock.yaml
  project.json
  test/package-json.test.ts
  vitest.config.ts
Due: pkg-deps

chore: run nx repair
  .gitignore
  .node-version
  examples/cordova/project.json
  nx.json
  package.json
  pnpm-lock.yaml
Due: pkg-deps

docs: fix broken links
  website/blog/2018-08-05-how-cordova-plugin-admobpro-works.md
  website/src/pages/index.tsx
Due: remark

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova-consent/plugin.xml
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/CHANGELOG.md
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/pkg-proxy/CHANGELOG.md
  packages/pkg-proxy/package.json
  pnpm-lock.yaml
Due: remark

chore: update dependencies
  examples/capacitor/android/capacitor.settings.gradle
  examples/capacitor/ios/App/Podfile
  examples/capacitor/package.json
  examples/playground/package.json
  flake.nix
  package.json
  packages/cordova-consent/package.json
  pnpm-lock.yaml
  website/package.json
Due: pkg-deps

fix(cordova-consent/android): run ui code in main thread, #637
  packages/cordova-consent/src/android/Consent.kt
Due: none

chore(release): publish
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova-consent/plugin.xml
Due: remark

Update test-ads.md
  website/docs/cordova/test-ads.md
Due: remark

docs: update App Open Demo Ad Unit ID (Android) (#641)
  website/docs/cordova/test-ads.md
Due: remark

chore: update dependencies
  examples/cordova/package.json
  examples/playground/package.json
  flake.lock
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: pkg-deps

chore(cli): update Android App Open test ad unit ID
  packages/cli/src/test-ids.ts
Due: none

chore: fix scripts lint errors
  biome.json
  package.json
  pnpm-lock.yaml
  scripts/gen/cordova.ts
  scripts/gen/docs.ts
Due: pkg-deps

chore: update nx to v18
  package.json
  pnpm-lock.yaml
Due: pkg-deps

chore: update dependencies
  examples/playground/package.json
  package.json
  pnpm-lock.yaml
  scripts/package.json
  website/package.json
Due: pkg-deps

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
  pkg-deps: any of: package.json
