Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

remark:
  run: yarn remark --no-stdout {staged_files}

swiftlint:
  run: yarn node-swiftlint lint --strict --path {staged_files}

fix(cordova/android): Errors in CanvasBanner on merge admob-plus:master
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/ts/canvas-banner.ts
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  package.json
Due: none

feat: update Google-Mobile-Ads-SDK to 8.6.0
  packages/capacitor/AdmobPlusCapacitor.podspec
  packages/capacitor/ios/Podfile
  packages/cordova/plugin.xml
  packages/react-native/AdMobPlusRN.podspec
Due: none

feat: update com.google.android.gms:play-services-ads to 20.2.0
  packages/capacitor/android/build.gradle
  packages/cordova/plugin.xml
  website/docs/cordova/installation.mdx
Due: none

fix(react-native): use static cls name
  packages/react-native/src/index.ts
Due: none

docs: disable sidebar file generation
  website/docusaurus.config.js
  website/sidebar/typedoc-capacitor.js
  website/sidebar/typedoc-capcitor.js
  website/sidebar/typedoc-cordova-consent.js
  website/sidebar/typedoc-cordova.js
  website/sidebar/typedoc-ionic.js
  website/sidebar/typedoc-react-native.js
  website/sidebars.js
Due: none

chore(react-native/ios): copy AMBCore
  internal/cli/src/example.ts
  internal/cli/src/gen/index.ts
  packages/react-native/ios/AMBAdBase.swift
  packages/react-native/ios/AMBContext.swift
  packages/react-native/ios/AMBCore.swift
  packages/react-native/ios/AMBInterstitial.swift
  packages/react-native/ios/AMBRewarded.swift
  packages/react-native/ios/AMBRewardedInterstitial.swift
  packages/react-native/ios/AdMobPlusRN.swift
Due: swiftlint

build: run sync-pkg-version with yarn
  packages/cordova-consent/package.json
  packages/cordova/package.json
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova-consent/plugin.xml
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

build: use del-cli@3
  package.json
Due: none

feat(cordova/ios): emit generic ad events
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBInterstitial.swift
  packages/cordova/src/ios/AMBRewarded.swift
  packages/cordova/src/ios/AMBRewardedInterstitial.swift
Due: swiftlint

feat(cordova): add MobileAd.on()
  packages/cordova/ts/api.ts
Due: none

feat(cordova): emit banner size with load event
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

feat(cordova/android): emit generic events
  examples/cordova/www/js/index.js
  packages/cordova/src/android/cordova/ads/Banner.java
  packages/cordova/src/android/cordova/ads/Interstitial.java
  packages/cordova/src/android/cordova/ads/Rewarded.java
  packages/cordova/src/android/cordova/ads/RewardedInterstitial.java
Due: none

chore(example/cordova): remove depreacted event
  examples/cordova/www/js/index.js
Due: none

refactor(react-native): remove GenericAd
  packages/react-native/src/index.ts
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  website/package.json
Due: none

feat(ionic): expose MobileAd.on()
  packages/ionic/src/ngx/index.ts
Due: none

docs(cordova): document Ad.on()
  website/docs/cordova/ads/app-open.md
  website/docs/cordova/ads/banner.md
  website/docs/cordova/ads/interstitial.md
  website/docs/cordova/ads/native.mdx
  website/docs/cordova/ads/rewarded-interstitial.md
  website/docs/cordova/ads/rewarded.md
Due: remark

docs: generate API docs
  website/docs/cordova/api/classes/admob.md
  website/docs/cordova/api/classes/appopenad.md
  website/docs/cordova/api/classes/bannerad.md
  website/docs/cordova/api/classes/interstitialad.md
  website/docs/cordova/api/classes/mobilead.md
  website/docs/cordova/api/classes/nativead.md
  website/docs/cordova/api/classes/rewardedad.md
  website/docs/cordova/api/classes/rewardedinterstitialad.md
  website/docs/cordova/api/enums/adsizetype.md
  website/docs/cordova/api/enums/events.md
  website/docs/cordova/api/enums/maxadcontentrating.md
  website/docs/cordova/api/enums/nativeactions.md
  website/docs/cordova/api/enums/platforms.md
  website/docs/cordova/api/enums/trackingauthorizationstatus.md
  website/docs/cordova/api/index.md
  website/docs/cordova/api/interfaces/banneradoptions.md
  website/docs/cordova/api/interfaces/rewardedadoptions.md
  website/docs/cordova/api/interfaces/rewardedinterstitialadoptions.md
  website/docs/cordova/api/interfaces/serversideverificationoptions.md
  website/docs/ionic/api/classes/admob.md
  website/docs/ionic/api/classes/bannerad.md
  website/docs/ionic/api/classes/interstitialad.md
  website/docs/ionic/api/classes/rewardedad.md
  website/docs/ionic/api/classes/rewardedinterstitialad.md
  website/docs/ionic/api/enums/trackingauthorizationstatus.md
  website/docs/react-native/api/classes/interstitialad.md
  website/docs/react-native/api/classes/rewardedad.md
  website/docs/react-native/api/classes/rewardedinterstitialad.md
  website/docs/react-native/api/index.md
Due: remark

docs(cordova): update events to short names
  website/docs/cordova/ads/banner.md
  website/docs/cordova/ads/interstitial.md
  website/docs/cordova/ads/rewarded-interstitial.md
  website/docs/cordova/ads/rewarded.md
Due: remark

docs: fix broken link
  website/docs/cordova/ads/rewarded-interstitial.md
  website/docs/cordova/ads/rewarded.md
Due: remark

chore(release): publish
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

fix: set ads with main.sync
  packages/capacitor/ios/Plugin/AMBCore.swift
  packages/cordova/src/ios/AMBCore.swift
  packages/react-native/ios/AMBCore.swift
Due: swiftlint

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

Revert "fix: set ads with main.sync"
  packages/capacitor/ios/Plugin/AMBCore.swift
  packages/cordova/src/ios/AMBCore.swift
  packages/react-native/ios/AMBCore.swift
Due: swiftlint

fix(react-native/ios): access AMBContext.ads in main thread
  packages/react-native/ios/AdMobPlusRN.swift
Due: swiftlint

feat: update Google-Mobile-Ads-SDK to 8.7.0
  packages/capacitor/AdmobPlusCapacitor.podspec
  packages/capacitor/ios/Podfile
  packages/cordova/plugin.xml
  packages/react-native/AdMobPlusRN.podspec
Due: none

refactor(cordova/ios): utilize ctx.resolve(), ctx.reject()
  packages/cordova/src/ios/AMBAppOpenAd.swift
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBContext.swift
  packages/cordova/src/ios/AMBInterstitial.swift
  packages/cordova/src/ios/AMBNativeAd.swift
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/src/ios/AMBRewarded.swift
  packages/cordova/src/ios/AMBRewardedInterstitial.swift
Due: swiftlint

refactor(capacitor): remove GenericAd
  packages/capacitor/src/index.ts
Due: none

refactor(capacitor): extract options to AMBCoreContext
  examples/capacitor/android/capacitor.settings.gradle
  examples/capacitor/ios/App/Podfile
  examples/capacitor/package.json
  packages/capacitor/ios/Plugin/AMBContext.swift
  packages/capacitor/ios/Plugin/AMBCore.swift
Due: swiftlint

refactor(cordova/ios): utilize AMBCoreContext
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBContext.swift
  packages/cordova/src/ios/AMBCore.swift
Due: swiftlint

feat(cordova-consent): add requestTrackingAuthorization() and trackingAuthorizationStatus()
  examples/cordova-consent/www/index.html
  examples/cordova-consent/www/js/index.js
  internal/cli/src/gen/consent.ts
  packages/cordova-consent/plugin.xml
  packages/cordova-consent/src/android/Generated.java
  packages/cordova-consent/src/ios/CSNConsent.swift
  packages/cordova-consent/src/ios/CSNContext.swift
  packages/cordova-consent/ts/generated.ts
  packages/cordova-consent/ts/index.ts
Due: swiftlint

feat(react-native): utilize AMBCoreContext
  packages/react-native/ios/AMBContext.swift
  packages/react-native/ios/AMBCore.swift
Due: swiftlint

feat(cordova/ios): add admob.configure()
  internal/cli/src/gen/admob.ts
  packages/capacitor/ios/Plugin/AMBCore.swift
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/browser/AdMobProxy.js
  packages/cordova/src/ios/AMBCore.swift
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/ts/api.ts
  packages/cordova/ts/generated.ts
  packages/cordova/ts/index.ts
  packages/react-native/ios/AMBCore.swift
Due: swiftlint

feat(cordova/ios): emit ad.click event
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

feat(cordova/ios): add contentUrl, keywords ad options
  packages/capacitor/ios/Plugin/AMBCore.swift
  packages/cordova/src/ios/AMBCore.swift
  packages/cordova/ts/api.ts
  packages/react-native/ios/AMBCore.swift
Due: swiftlint

feat(cordova/android): implement configure()
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/core/Context.java
Due: none

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
