Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint, pkg-deps

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: npx commitlint -e

pre-commit:
  parallel: true
  commands:
    fixer:
      run: >
        lefthook run fixer &&
        git add {staged_files}
    remark:
      glob: "*.md"
      run: npx remark --no-stdout {staged_files}
    swiftlint:
      glob: "*.swift"
      run: npx node-swiftlint lint --strict --path {staged_files}
    pkg-deps:
      glob: package.json
      run: npx jest __tests__/package-json.ts

pre-push:
  parallel: true
  commands:
    jest:
      run: nx jest .

fixer:
  parallel: true
  commands:
    js-fixer:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx gts fix {staged_files}
    pkg-json-fixed:
      glob: examples/*/package.json
      run: npx prettier --write {staged_files}

test(kotlin): convert build.gradle to kts
  test/android/app/build.gradle
  test/android/app/build.gradle.kts
  test/android/build.gradle
  test/android/build.gradle.kts
  test/android/settings.gradle.kts
Due: none

test(kotlin): use java 17
  test/android/app/build.gradle.kts
  test/android/build.gradle.kts
Due: none

test(kotlin): add util unit test
  test/android/app/build.gradle.kts
  test/android/app/src/main/kotlin/admob/plus/core
  test/android/app/src/test/kotlin/admob/plus/core/UtilUnitTest.kt
Due: none

refactor(cordova): port md5 to kotlin
  packages/cordova/src/android/core/util.kt
  test/android/app/src/test/kotlin/admob/plus/core/UtilUnitTest.kt
Due: none

refactor(cordova): remove old md5()
  packages/cordova/src/android/core/Helper.java
Due: none

refactor(cordova): port configForTestLab() to kotlin
  packages/cordova/src/android/core/Helper.java
  packages/cordova/src/android/core/util.kt
Due: none

feat(cordova/android): rewrite in kotlin
  packages/cordova-native/src/android/AdViewProvider.java
  packages/cordova/plugin.xml
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/AdMob.kt
  packages/cordova/src/android/cordova/ExecuteContext.java
  packages/cordova/src/android/cordova/ExecuteContext.kt
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/android/cordova/Generated.kt
  packages/cordova/src/android/cordova/ads/AdBase.java
  packages/cordova/src/android/cordova/ads/AdBase.kt
  packages/cordova/src/android/cordova/ads/AppOpen.java
  packages/cordova/src/android/cordova/ads/AppOpen.kt
  packages/cordova/src/android/cordova/ads/Banner.java
  packages/cordova/src/android/cordova/ads/Banner.kt
  packages/cordova/src/android/cordova/ads/Interstitial.java
  packages/cordova/src/android/cordova/ads/Interstitial.kt
  packages/cordova/src/android/cordova/ads/Native.java
  packages/cordova/src/android/cordova/ads/Native.kt
  packages/cordova/src/android/cordova/ads/Rewarded.java
  packages/cordova/src/android/cordova/ads/Rewarded.kt
  packages/cordova/src/android/cordova/ads/RewardedInterstitial.java
  packages/cordova/src/android/cordova/ads/RewardedInterstitial.kt
  packages/cordova/src/android/core/Ad.java
  packages/cordova/src/android/core/Ad.kt
  packages/cordova/src/android/core/Context.java
  packages/cordova/src/android/core/Context.kt
  packages/cordova/src/android/core/GenericAd.java
  packages/cordova/src/android/core/GenericAd.kt
  packages/cordova/src/android/core/Helper.java
  packages/cordova/src/android/core/util.kt
Due: none

chore: update dependencies
  package.json
Due: pkg-deps

refactor: fix type error
  examples/cordova/test/wdio.env.ts
Due: none

feat(cordova/android): update PLAY_SERVICES_VERSION to 22.0.0
  examples/cordova/config.xml
  packages/cordova/plugin.xml
  packages/cordova/src/android/cordova/AdMob.kt
  packages/cordova/src/android/cordova/ads/Banner.kt
  packages/cordova/src/android/core/Ad.kt
Due: none

build: use local nx
  lefthook.yml
Due: none

feat(cordova): Preliminary support for WebView API for Ads on Android
  packages/cordova/plugin.xml
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/ads/WebViewAd.java
  packages/cordova/src/www/index.ts
  packages/cordova/src/www/webview.ts
Due: none

feat(cordova): registerWebView has been moved from pluginInitialize to initialize
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/ads/WebViewAd.java
Due: none

docs(cordova): add WebView Ad docs
  website/docs/cordova/ads/webview.md
Due: remark

docs(cordova): update WebView Ad docs
  website/docs/cordova/ads/webview.md
Due: remark

docs(cordova): update WebView Ad docs
  packages/cordova/src/www/webview.ts
  website/docs/cordova/ads/webview.md
Due: remark

feat(cordova): historySetPage return generated url
  packages/cordova/src/www/webview.ts
Due: none

Update users.ts
  website/src/data/users.ts
Due: none

Update plugin.xml
  packages/cordova/plugin.xml
Due: none

Update AMBRewardedInterstitial.swift
  packages/cordova/src/ios/AMBRewardedInterstitial.swift
Due: swiftlint

Update AMBAppOpenAd.swift
  packages/cordova/src/ios/AMBAppOpenAd.swift
Due: swiftlint

Update AMBInterstitial.swift
  packages/cordova/src/ios/AMBInterstitial.swift
Due: swiftlint

Update AMBRewarded.swift
  packages/cordova/src/ios/AMBRewarded.swift
Due: swiftlint

Update CHANGELOG.md
  packages/cordova/CHANGELOG.md
Due: remark

Update package.json
  packages/cordova/package.json
Due: none

the round bracket ")" causes an error
  website/docs/cordova/ads/app-open.md
Due: remark

Update native.mdx
  website/docs/ionic/ads/native.mdx
Due: none

update gitignore
  packages/cordova/.gitignore
Due: none

update gitignore
  lefthook.yml
  package.json
Due: pkg-deps

latest sdks
  package.json
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/cordova/src/ios/AMBAppOpenAd.swift
  packages/cordova/src/ios/AMBInterstitial.swift
  packages/cordova/src/ios/AMBRewarded.swift
  packages/cordova/src/ios/AMBRewardedInterstitial.swift
Due: swiftlint, pkg-deps

set default play services to 21.5.0
  .gitignore
  examples/ionic-angular/package.json
  packages/cordova/CHANGELOG.md
  packages/react-native/android/build.gradle
  website/docs/cordova/installation.mdx
Due: remark

fix(cordova): Removed the need for cordova-plugin-inappbrowser to open ads in the browser
  packages/cordova/plugin.xml
  packages/cordova/src/android/cordova/AdMob.java
Due: none

feat(cordova): Preliminary support for WebView API for Ads on iOS
  packages/cordova/plugin.xml
  packages/cordova/src/ios/AMBPlugin.swift
  website/docs/cordova/ads/webview.md
Due: remark, swiftlint

chore(cordova): update Android SDK to 22.0.0
  examples/ionic-angular/package.json
  packages/cordova/plugin.xml
  website/docs/cordova/ads/webview.md
  website/docs/cordova/installation.mdx
Due: remark

Update test-ads.md
  website/docs/cordova/test-ads.md
Due: remark
