Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint -e

pre-commit:
  parallel: true
  commands:
    fixer:
      run: >
        lefthook run fixer &&
        git add {staged_files}
    remark:
      glob: "*.md"
      run: yarn remark --no-stdout {staged_files}
    swiftlint:
      glob: "*.swift"
      run: yarn node-swiftlint lint --strict --path {staged_files}

pre-push:
  parallel: true
  commands:
    jest:
      run: yarn jest

fixer:
  parallel: true
  commands:
    js-fixer:
      glob: "*.{js,jsx,ts,tsx}"
      run: >
        yarn prettier-eslint --write {staged_files} &&
        yarn eslint --ext .js,.jsx,.ts,tsx --fix {staged_files}
    pkg-json-fixed:
      glob: examples/*/package.json
      run: yarn prettier --write {staged_files}

feat(cli): check Ionic Capacitor project using Cordova packages
  packages/cli/src/doctor/node.ts
Due: none

fix Rewarded Ads Server-side Verification
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/Rewarded.java
  packages/capacitor/android/src/main/java/admob/plus/capacitor/ads/RewardedInterstitial.java
  packages/cordova/src/android/cordova/ads/Rewarded.java
  packages/cordova/src/android/cordova/ads/RewardedInterstitial.java
  packages/react-native/android/src/main/java/admob/plus/rn/ads/Rewarded.java
  packages/react-native/android/src/main/java/admob/plus/rn/ads/RewardedInterstitial.java
Due: none

feat: update com.google.android.gms:play-services-ads to 20.3.0
  packages/capacitor/android/build.gradle
  packages/cordova/plugin.xml
  packages/react-native/android/build.gradle
  website/docs/cordova/installation.mdx
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/cordova-consent/package.json
  examples/cordova/package.json
  examples/ionic-angular-capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
  website/package.json
Due: none

docs: generate API docs
  website/docs/cordova/api/classes/appopenad.md
  website/docs/cordova/api/classes/bannerad.md
  website/docs/cordova/api/classes/interstitialad.md
  website/docs/cordova/api/classes/mobilead.md
  website/docs/cordova/api/classes/nativead.md
  website/docs/cordova/api/classes/rewardedad.md
  website/docs/cordova/api/classes/rewardedinterstitialad.md
  website/docs/cordova/api/enums/maxadcontentrating.md
  website/docs/cordova/api/enums/platforms.md
  website/docs/cordova/api/enums/trackingauthorizationstatus.md
  website/docs/cordova/api/index.md
Due: remark

test: ignore examples/ionic-angular-capacitor tests from jest
  jest.config.ts
  package.json
Due: none

build: revert typescript to 4.3
  internal/cli/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

chore: update dependencies
  examples/ionic-angular-capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  website/package.json
Due: none

feat(cordova/ios): use banner placeholder to avoid layer issue, #424
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

fix(cordova/ios): remove placeholder from stack view on banner hide
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

docs(capacitor): update README
  packages/cli/README.md
Due: remark

Add end (```) of Usage code
  website/docs/cordova/ads/rewarded-interstitial.md
Due: remark

chore: add Context.optDouble()
  packages/capacitor/android/src/main/java/admob/plus/core/Context.java
  packages/cordova/src/android/cordova/ExecuteContext.java
  packages/cordova/src/android/core/Context.java
  packages/react-native/android/src/main/java/admob/plus/core/Context.java
Due: none

feat(internal/cli): remove open sub-commands
  examples/cordova-consent/package.json
  examples/cordova/package.json
  examples/playground/scripts/dev.ts
  internal/cli/src/example.ts
Due: none

refactor: move AMBBannerPlaceholder to AMBCore
  packages/capacitor/ios/Plugin/AMBCore.swift
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBCore.swift
  packages/react-native/ios/AMBCore.swift
Due: swiftlint

feat: update Google-Mobile-Ads-SDK to 8.10.0
  packages/capacitor/AdmobPlusCapacitor.podspec
  packages/capacitor/ios/Podfile
  packages/cordova/plugin.xml
  packages/react-native/AdMobPlusRN.podspec
Due: none

refactor(cordova/ios): extract AMBBannerStackView
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

refactor(cordova/ios): turn contentView into lazy var
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

docs(cordova): add end (```) of Usage code (#425)
  website/docs/cordova/ads/rewarded-interstitial.md
Due: remark

chore(internal/cli): fix lint error
  internal/cli/src/gen/cli.ts
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular-capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
  website/package.json
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

chore: update dependencies
  examples/ionic-angular-capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
  website/package.json
Due: none

feat(example/capacitor): re-add android
  examples/capacitor/android/build.gradle
  examples/capacitor/android/capacitor.settings.gradle
  examples/capacitor/android/gradle/wrapper/gradle-wrapper.properties
  examples/capacitor/android/variables.gradle
  examples/capacitor/ios/App/Podfile
Due: none

fix: add missing default keyword, close #426
  packages/capacitor/android/src/main/java/admob/plus/core/Context.java
  packages/cordova/src/android/core/Context.java
  packages/react-native/android/src/main/java/admob/plus/core/Context.java
Due: none

fix(internal/cli): revert typescript to 4.3
  internal/rollup-config/package.json
Due: none

chore: update dependencies
  examples/react-native/package.json
  package.json
  packages/react-native/package.json
Due: none

fix(ionic): add fallback to get plugin
  packages/ionic/src/ngx/index.ts
Due: none

feat(ionic): access plugin instance via helper
  packages/ionic/src/ngx/index.ts
  packages/ionic/tsconfig.json
  tsconfig.json
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular-capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  website/package.json
Due: none

build: target es2015
  tsconfig.json
Due: none

ci(github): set lychee --base
  .github/workflows/nodejs.yml
Due: none

ci(github): deploy docs without link check sucess
  .github/workflows/nodejs.yml
Due: none

chore(release): publish
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

fix(ionic): target es5
  packages/ionic/src/ngx/index.ts
  packages/ionic/tsconfig.json
  tsconfig.json
Due: none

ci(github): set DEPLOYMENT_BRANCH env
  .github/workflows/nodejs.yml
Due: none
