Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

remark:
  run: yarn remark --no-stdout {staged_files}

swiftlint:
  run: yarn node-swiftlint lint --strict --path {staged_files}

feat(cordova/android): canvas precise draw interval config
  packages/cordova/ts/banner.ts
Due: none

fix(cordova/android): the canvas flickers when drawn
  packages/cordova/ts/banner.ts
Due: none

fix(cordova/android): removed duplicate length
  packages/cordova/ts/banner.ts
Due: none

fix(cordova/android): changeCanvas not change the canvas context
  packages/cordova/ts/banner.ts
Due: none

refactor(cordova/android): utilize getParentView()
  packages/cordova/src/android/cordova/ads/Banner.java
Due: none

feat(cordova): add NativeAd.showWith()
  examples/cordova/www/index.html
  examples/cordova/www/js/index.js
  internal/cli/src/example.ts
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/ts/native.ts
Due: swiftlint

feat(cordova): add AppOpenAd orientation option, close #377
  examples/cordova/www/js/index.js
  packages/cordova/src/android/cordova/ads/AppOpen.java
  packages/cordova/src/ios/AMBAppOpenAd.swift
  packages/cordova/ts/app-open.ts
Due: swiftlint

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

docs(cordova): remove broken link
  packages/cordova/README.md
Due: remark

feat(cordova/android): moved canvas add to CanvasBannerAd class
  packages/cordova/plugin.xml
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/Generated.java
  packages/cordova/src/android/cordova/ads/CanvasBanner.java
  packages/cordova/ts/banner.ts
  packages/cordova/ts/canvas-banner.ts
  packages/cordova/ts/generated.ts
  packages/cordova/ts/index.ts
Due: none

feat(cordova/android): CanvasBannerAd have now requestAnimationFrameDraw and cleanPrevCanvas configuration
  packages/cordova/ts/canvas-banner.ts
Due: none

docs(cordova/android): CanvasBannerAd usage
  packages/cordova/src/browser/AdMobProxy.js
  packages/cordova/ts/canvas-banner.ts
  website/docs/cordova/ads/canvas-banner.md
Due: remark

docs(cordova/android): updated CanvasBannerAd documentation
  website/docs/cordova/ads/canvas-banner.md
Due: remark

chore: update dependencies
  examples/ionic-angular/package.json
  examples/playground/package.json
  internal/rollup-config/package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
Due: none

docs: geneate API docs
  website/docs/capacitor/api/classes/bannerad.md
  website/docs/capacitor/api/classes/interstitialad.md
  website/docs/capacitor/api/classes/rewardedad.md
  website/docs/capacitor/api/classes/rewardedinterstitialad.md
  website/docs/capacitor/api/index.md
  website/docs/capacitor/api/interfaces/admobplusplugin.md
  website/docs/capacitor/api/interfaces/banneradoptions.md
  website/docs/cordova/api/classes/appopenad.md
  website/docs/cordova/api/classes/nativead.md
Due: remark

docs(cordova): document NativeAd.showWith()
  website/docs/cordova/ads/native.mdx
Due: none

refactor(cordova): move GenericAd to shared
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/shared.ts
Due: none

feat(cordova/andorid): use GenericAd
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/ads/AdBase.java
  packages/cordova/src/android/cordova/ads/Banner.java
  packages/cordova/src/android/cordova/ads/Interstitial.java
  packages/cordova/src/android/cordova/ads/Rewarded.java
  packages/cordova/src/android/cordova/ads/RewardedInterstitial.java
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/banner.ts
  packages/cordova/ts/interstitial.ts
  packages/cordova/ts/native.ts
  packages/cordova/ts/rewarded-interstitial.ts
  packages/cordova/ts/rewarded.ts
  packages/cordova/ts/shared.ts
Due: none

feat(internal/cli): handle cordova-consent example dev
  internal/cli/src/example.ts
Due: none

feat(internal/cli): copy AMBCore.swift
  internal/cli/src/gen/index.ts
  packages/cordova/plugin.xml
  packages/cordova/src/ios/AMBCore.swift
Due: swiftlint

chore(capacitor/ios): add AMBCoreError
  packages/capacitor/ios/Plugin/AMBCore.swift
Due: swiftlint

refactor(capacitor/ios): extract AMBCoreAd.ads
  packages/capacitor/ios/Plugin/AMBAdBase.swift
  packages/capacitor/ios/Plugin/AMBBanner.swift
  packages/capacitor/ios/Plugin/AMBContext.swift
  packages/capacitor/ios/Plugin/AMBCore.swift
  packages/capacitor/ios/Plugin/AMBInterstitial.swift
  packages/capacitor/ios/Plugin/AMBRewarded.swift
  packages/capacitor/ios/Plugin/AMBRewardedInterstitial.swift
Due: swiftlint

fix(cordova/android): drawPrevCanvasImage not draw in newCanvas if it is display:none
  packages/cordova/ts/canvas-banner.ts
Due: none

fix(cordova/android): drawPrevCanvasImage not draw in newCanvas
  packages/cordova/ts/canvas-banner.ts
Due: none

fix(cordova/android): clearRect if the canvas size is different from image
  packages/cordova/ts/canvas-banner.ts
Due: none

fix(cordova/android): changed java.util.Base64 to android.util.Base64 to fix didn't find class java.util.Base64
  packages/cordova/src/android/cordova/ads/CanvasBanner.java
Due: none

docs(cordova): document how to set adUnitId per platform
  website/docs/cordova/faq.md
Due: remark

refactor(capacitor/ios): remove AMBGenericAd
  packages/capacitor/ios/Plugin/AMBAdBase.swift
  packages/capacitor/ios/Plugin/AMBBanner.swift
  packages/capacitor/ios/Plugin/AMBContext.swift
  packages/capacitor/ios/Plugin/AMBCore.swift
  packages/capacitor/ios/Plugin/AMBInterstitial.swift
  packages/capacitor/ios/Plugin/AMBRewarded.swift
  packages/capacitor/ios/Plugin/AMBRewardedInterstitial.swift
  packages/capacitor/ios/Plugin/AdMobPlusPlugin.swift
Due: swiftlint

feat(cordova/ios): use AMBCoreAd
  packages/cordova/src/ios/AMBAdBase.swift
  packages/cordova/src/ios/AMBAppOpenAd.swift
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBContext.swift
  packages/cordova/src/ios/AMBCore.swift
  packages/cordova/src/ios/AMBInterstitial.swift
  packages/cordova/src/ios/AMBNativeAd.swift
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/src/ios/AMBRewarded.swift
  packages/cordova/src/ios/AMBRewardedInterstitial.swift
Due: swiftlint

refactor(cordova/ios): simplify @objc
  packages/cordova/src/ios/AMBPlugin.swift
Due: swiftlint

feat(cordova/android): backgroundColor on create CanvasBannerAd
  packages/cordova/src/android/cordova/ads/CanvasBanner.java
  packages/cordova/ts/canvas-banner.ts
  website/docs/cordova/ads/canvas-banner.md
Due: remark

fix(cordova/android): clear NativeAdView, fix #390
  packages/cordova/src/android/cordova/ads/Native.java
Due: none

chore(cordova): set default value for NativeAd.show() options
  packages/cordova/ts/native.ts
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
  website/package.json
Due: none

chore(cordova): remove GenericAd
  packages/cordova/ts/api.ts
  packages/cordova/ts/app-open.ts
  packages/cordova/ts/banner.ts
  packages/cordova/ts/interstitial.ts
  packages/cordova/ts/native.ts
  packages/cordova/ts/rewarded-interstitial.ts
  packages/cordova/ts/rewarded.ts
  packages/cordova/ts/shared.ts
Due: none

chore(cordova): update plugin.xml version, fix #380
  packages/cordova-consent/package.json
  packages/cordova-consent/plugin.xml
  packages/cordova/package.json
  packages/cordova/plugin.xml
Due: none

chore(ionic): remove return type declaration
  packages/ionic/src/ngx/index.ts
Due: none

fix(internal/cli): remove duplcate case
  internal/cli/src/example.ts
Due: none

chore(cordova/android): remove GenericAd
  packages/cordova/src/android/cordova/AdMob.java
  packages/cordova/src/android/cordova/ads/CanvasBanner.java
  packages/cordova/ts/canvas-banner.ts
Due: none

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
