Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

remark:
  run: yarn remark --no-stdout {staged_files}

swiftlint:
  run: yarn node-swiftlint lint --strict --path {staged_files}

feat(example/ionic3): add @admob-plus/ionic
  examples/ionic3/config.xml
  examples/ionic3/package.json
  examples/ionic3/src/app/app.module.ts
  examples/ionic3/src/pages/home/home.html
  examples/ionic3/src/pages/home/home.ts
  examples/ionic3/tsconfig.json
  package.json
Due: none

refactor(capacitor/ios): utilize AMBCoreContext.configure()
  packages/capacitor/ios/Plugin/AdMobPlusPlugin.swift
Due: swiftlint

feat(capacitor/ios): allow config same app key
  packages/capacitor/ios/Plugin/AMBCore.swift
  packages/capacitor/src/definitions.ts
Due: swiftlint

feat(cordova/ios): allow config same app key
  packages/cordova/src/ios/AMBCore.swift
  packages/cordova/ts/api.ts
Due: swiftlint

feat(react-native/ios): allow config same app key
  packages/react-native/ios/AMBCore.swift
  packages/react-native/src/definitions.ts
Due: swiftlint

chore: update dependencies
  examples/ionic-angular-capacitor/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
  website/package.json
Due: none

docs: fix type error
  website/src/pages/index.tsx
  website/src/pages/users.tsx
Due: none

ci(github): update lycheeverse/lychee-action
  .github/workflows/nodejs.yml
  lychee.toml
Due: none

docs: generate API docs
  website/docs/capacitor/api/enums/trackingauthorizationstatus.md
  website/docs/capacitor/api/index.md
  website/docs/capacitor/api/interfaces/admobplusplugin.md
  website/docs/capacitor/api/interfaces/banneradoptions.md
  website/docs/cordova/api/enums/platforms.md
  website/docs/cordova/api/enums/trackingauthorizationstatus.md
  website/docs/cordova/api/index.md
  website/docs/ionic/api/classes/admob.md
  website/docs/ionic/api/classes/bannerad.md
  website/docs/ionic/api/classes/interstitialad.md
  website/docs/ionic/api/classes/rewardedad.md
  website/docs/ionic/api/classes/rewardedinterstitialad.md
  website/docs/ionic/api/enums/trackingauthorizationstatus.md
  website/docs/react-native/api/index.md
  website/docs/react-native/api/interfaces/admobplusplugin.md
  website/package.json
Due: remark

docs: fix broken links
  .github/workflows/nodejs.yml
  website/lychee.toml
  website/src/data/users.ts
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

docs(capacitor): update README
  packages/capacitor/README.md
Due: remark

feat(example/ionic3): add event listener
  examples/ionic3/src/pages/home/home.ts
Due: none

docs(ionic): remove no longer required admob.start() call
  website/docs/ionic/ads/banner.md
  website/docs/ionic/ads/interstitial.md
  website/docs/ionic/ads/rewarded-interstitial.md
  website/docs/ionic/ads/rewarded.md
Due: remark

chore: update dependencies
  examples/ionic-angular-capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  package.json
  packages/cli/package.json
  packages/react-native/package.json
  website/package.json
Due: none

fix(capacitor): pass load() options
  packages/capacitor/src/index.ts
Due: none

refactor(capacitor): utilize private fields
  packages/capacitor/src/index.ts
Due: none

ci(github): reduce lychee max-concurrency
  lychee.toml
  website/lychee.toml
Due: none

docs: fix typedoc version
  website/package.json
Due: none

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
Due: remark

refactor(cordova/ios): extract hasTopBanner and hasBottomBanner
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

refactor(cordova/ios): utilize AMBHelper anchors
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

refactor(cordova/ios): move constraints to AMBBannerStackView
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

feat(cordova/ios): support adaptive banner
  examples/cordova/www/index.html
  examples/cordova/www/js/index.js
  packages/cordova/src/ios/AMBContext.swift
  packages/cordova/src/ios/AMBCore.swift
Due: swiftlint

feat(cordova/android): support adaptive banner
  packages/cordova/src/android/cordova/ExecuteContext.java
Due: none

refactor(cordova/ios): extract width var
  packages/cordova/src/ios/AMBContext.swift
Due: swiftlint

chore: update dependencies
  examples/capacitor/package.json
  examples/cordova-consent/package.json
  examples/cordova/package.json
  examples/ionic-angular-capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  internal/cli/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
Due: none

docs: generate API docs
  website/docs/capacitor/api/classes/bannerad.md
  website/docs/capacitor/api/classes/interstitialad.md
  website/docs/capacitor/api/classes/rewardedad.md
  website/docs/capacitor/api/classes/rewardedinterstitialad.md
Due: remark

ci(github): reduce lychee max-concurrency to 8
  lychee.toml
  website/lychee.toml
Due: none

ci(github): test ionic3 example
  .github/workflows/nodejs.yml
  examples/ionic3/.yarnrc.yml
Due: none

feat(example/ionic3): use typescript 2
  examples/ionic3/package.json
  examples/ionic3/src/pages/home/home.ts
  examples/ionic3/tsconfig.json
Due: none

build(example/ionic-angular-capacitor): add eslint config
  examples/ionic-angular-capacitor/.eslintrc.json
Due: none

feat: update Google-Mobile-Ads-SDK to 8.11.0
  packages/capacitor/AdmobPlusCapacitor.podspec
  packages/capacitor/ios/Podfile
  packages/cordova/plugin.xml
  packages/react-native/AdMobPlusRN.podspec
Due: none

feat(cordova): add BannerSize type
  packages/cordova/src/ios/AMBContext.swift
  packages/cordova/ts/banner.ts
Due: swiftlint

chore: update dependencies
  examples/ionic-angular-capacitor/package.json
  examples/ionic-angular/package.json
  examples/ionic3/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
  website/package.json
Due: none

docs: generate API docs
  website/docs/capacitor/api/classes/bannerad.md
  website/docs/capacitor/api/classes/interstitialad.md
  website/docs/capacitor/api/classes/rewardedad.md
  website/docs/capacitor/api/classes/rewardedinterstitialad.md
  website/docs/capacitor/api/index.md
  website/docs/capacitor/api/interfaces/admobplusplugin.md
  website/docs/capacitor/api/interfaces/banneradoptions.md
  website/docs/cordova/api/classes/admob.md
  website/docs/cordova/api/classes/appopenad.md
  website/docs/cordova/api/classes/bannerad.md
  website/docs/cordova/api/classes/interstitialad.md
  website/docs/cordova/api/classes/mobilead.md
  website/docs/cordova/api/classes/nativead.md
  website/docs/cordova/api/classes/rewardedad.md
  website/docs/cordova/api/classes/rewardedinterstitialad.md
  website/docs/cordova/api/index.md
  website/docs/cordova/api/interfaces/banneradoptions.md
  website/docs/cordova/api/interfaces/rewardedadoptions.md
  website/docs/cordova/api/interfaces/rewardedinterstitialadoptions.md
  website/docs/cordova/consent/api/classes/consent.md
  website/docs/cordova/consent/api/index.md
  website/docs/ionic/api/classes/admob.md
  website/docs/ionic/api/index.md
  website/docs/react-native/api/classes/interstitialad.md
  website/docs/react-native/api/classes/rewardedad.md
  website/docs/react-native/api/classes/rewardedinterstitialad.md
  website/docs/react-native/api/index.md
  website/docs/react-native/api/interfaces/admobplusplugin.md
Due: remark

fix: preserve hash for redirect
  website/src/theme/LayoutHead/index.tsx
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular-capacitor/package.json
  examples/ionic-angular/package.json
  examples/ionic3/package.json
  examples/playground/package.json
  internal/cli/package.json
  package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  website/package.json
Due: none

feat: update com.google.android.gms:play-services-ads to 20.4.0
  packages/capacitor/android/build.gradle
  packages/cordova/plugin.xml
  packages/react-native/android/build.gradle
  website/docs/cordova/installation.mdx
Due: none

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
