Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint -e

pre-commit:
  parallel: true
  commands:
    fixer:
      run: >
        lefthook run fixer &&
        git add {staged_files}
    remark:
      glob: "*.md"
      run: yarn remark --no-stdout {staged_files}
    swiftlint:
      glob: "*.swift"
      run: yarn node-swiftlint lint --strict --path {staged_files}

pre-push:
  parallel: true
  commands:
    jest:
      run: yarn jest

fixer:
  parallel: true
  commands:
    js-fixer:
      glob: "*.{js,jsx,ts,tsx}"
      run: >
        yarn prettier-eslint --write {staged_files} &&
        yarn eslint --ext .js,.jsx,.ts,tsx --fix {staged_files}
    pkg-json-fixed:
      glob: examples/*/package.json
      run: yarn prettier --write {staged_files}

feat(cordova/ios): update SKAdNetworkItems value
  packages/cordova/plugin.xml
Due: none

feat: update Google-Mobile-Ads-SDK to 8.8.0
  packages/capacitor/AdmobPlusCapacitor.podspec
  packages/capacitor/ios/Podfile
  packages/cordova/plugin.xml
  packages/react-native/AdMobPlusRN.podspec
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  website/package.json
Due: none

docs: generate API docs
  packages/cordova/ts/api.ts
  website/docs/cordova/api/classes/admob.md
  website/docs/cordova/api/classes/appopenad.md
  website/docs/cordova/api/classes/bannerad.md
  website/docs/cordova/api/classes/interstitialad.md
  website/docs/cordova/api/classes/mobilead.md
  website/docs/cordova/api/classes/nativead.md
  website/docs/cordova/api/classes/rewardedad.md
  website/docs/cordova/api/classes/rewardedinterstitialad.md
  website/docs/cordova/api/enums/maxadcontentrating.md
  website/docs/cordova/api/enums/platforms.md
  website/docs/cordova/api/enums/trackingauthorizationstatus.md
  website/docs/cordova/api/index.md
  website/docs/ionic/api/enums/trackingauthorizationstatus.md
Due: remark

build: add react-native example to workspaces
  examples/react-native/.yarnrc.yml
  package.json
Due: none

feat(example/ionic-angular): update angular to v12
  examples/ionic-angular/angular.json
  examples/ionic-angular/package.json
  examples/ionic-angular/src/environments/environment.ts
  examples/ionic-angular/src/polyfills.ts
  examples/ionic-angular/src/test.ts
Due: none

build: use jest provided types
  __tests__/package-json.ts
  package.json
Due: none

chore(cordova-native): sync plugin.xml version
  packages/cordova-native/package.json
Due: none

build: use valid version number for private package
  internal/cli/package.json
  internal/rollup-config/package.json
  internal/tsconfig/package.json
  package.json
  website/package.json
Due: none

docs(cordova): remove `admob.start()` from ad loading examples
  website/docs/cordova/ads/app-open.md
  website/docs/cordova/ads/banner.md
  website/docs/cordova/ads/interstitial.md
  website/docs/cordova/ads/rewarded-interstitial.md
  website/docs/cordova/ads/rewarded.md
  website/docs/cordova/getting-started.md
Due: remark

build: avoid unnessary dependencies build
  package.json
Due: none

test: fix jest type error
  __tests__/package-json.ts
  packages/cordova/__tests__/shared.ts
Due: none

build(docs): extract typedocConfig
  website/docusaurus.config.js
Due: none

ci(github): update actions
  .github/workflows/nodejs.yml
Due: none

feat(capacitor): init SDK on ad load
  packages/capacitor/src/index.ts
Due: none

docs(capacitor): remove AdMobPlus.start() from example code
  website/docs/capacitor/ads/banner.md
  website/docs/capacitor/ads/interstitial.md
  website/docs/capacitor/ads/rewarded-interstitial.md
  website/docs/capacitor/ads/rewarded.md
Due: remark

chore: update dependencies
  examples/capacitor/package.json
  examples/cordova-consent/package.json
  examples/cordova/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
  website/package.json
Due: none

chore(capacitor): remove start() export
  packages/capacitor/src/index.ts
Due: none

fix(capacitor): replace AdMobPlus.start()
  packages/capacitor/src/index.ts
Due: none

chore: revert remark-cli to v9
  package.json
Due: none

docs: generate API docs
  website/docs/capacitor/api/classes/bannerad.md
  website/docs/capacitor/api/classes/interstitialad.md
  website/docs/capacitor/api/classes/rewardedad.md
  website/docs/capacitor/api/classes/rewardedinterstitialad.md
  website/docs/capacitor/api/interfaces/banneradoptions.md
  website/docs/ionic/api/enums/trackingauthorizationstatus.md
Due: remark

feat(internal/cli): handle ionic-angular example prepare
  internal/cli/src/example.ts
Due: none

chore(example/ionic-angular): use example prepare
  examples/ionic-angular/package.json
Due: none

chore: update dependencies
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  website/package.json
Due: none

fix(cordova/ios): insert stack view just above webview, #417
  packages/cordova/src/ios/AMBBanner.swift
Due: swiftlint

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: remark

feat(example/ionic-angular-capacitor): add ad buttons
  examples/ionic-angular-capacitor/android/app/capacitor.build.gradle
  examples/ionic-angular-capacitor/android/app/src/main/assets/capacitor.plugins.json
  examples/ionic-angular-capacitor/android/capacitor.settings.gradle
  examples/ionic-angular-capacitor/ios/App/App/Info.plist
  examples/ionic-angular-capacitor/ios/App/Podfile
  examples/ionic-angular-capacitor/package.json
  examples/ionic-angular-capacitor/src/app/app.module.ts
  examples/ionic-angular-capacitor/src/app/tab1/tab1.page.html
  examples/ionic-angular-capacitor/src/app/tab1/tab1.page.ts
Due: none

docs(capacitor): update SKAdNetworkItems value
  website/docs/capacitor/installation.mdx
Due: none

docs(react-native): update SKAdNetworkItems value
  website/docs/react-native/installation.mdx
Due: none

fix(cordova): persist ad id counter to avoid id reuse between pages, #419
  packages/cordova/ts/api.ts
Due: none

chore: update dependencies
  examples/capacitor/package.json
  examples/ionic-angular-capacitor/package.json
  examples/ionic-angular/package.json
  examples/playground/package.json
  examples/react-native/package.json
  internal/cli/package.json
  internal/rollup-config/package.json
  package.json
  packages/capacitor/package.json
  packages/cli/package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/pkg-proxy/package.json
  packages/react-native/package.json
  website/package.json
Due: none

docs: generate API docs
  website/docs/cordova/api/classes/appopenad.md
  website/docs/cordova/api/classes/bannerad.md
  website/docs/cordova/api/classes/interstitialad.md
  website/docs/cordova/api/classes/mobilead.md
  website/docs/cordova/api/classes/nativead.md
  website/docs/cordova/api/classes/rewardedad.md
  website/docs/cordova/api/classes/rewardedinterstitialad.md
  website/docs/cordova/api/enums/maxadcontentrating.md
  website/docs/cordova/api/enums/platforms.md
  website/docs/cordova/api/enums/trackingauthorizationstatus.md
  website/docs/cordova/api/index.md
Due: remark

chore(release): publish
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

docs(ionic): warn user the plugin is cordova only
  website/docs/ionic/getting-started.md
  website/docs/ionic/installation.md
  website/docs/ionic/installation.mdx
Due: remark

build: disable eslint rules
  packages/cli/.eslintrc
Due: none

feat: update Google-Mobile-Ads-SDK to 8.9.0
  packages/capacitor/AdmobPlusCapacitor.podspec
  packages/capacitor/ios/Podfile
  packages/cordova/plugin.xml
  packages/react-native/AdMobPlusRN.podspec
Due: none

fix(cordova): pass options during load(), #420
  packages/cordova/ts/api.ts
Due: none

fix(cli): print CocoaPods hint
  packages/cli/src/doctor/cocoapods.ts
Due: none

refactor(cli): reuse getPodSpec()
  packages/cli/src/doctor/cocoapods.ts
Due: none
