Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint

remark:
  run: yarn remark --no-stdout {staged_files}

swiftlint:
  run: yarn node-swiftlint lint --strict --path {staged_files}

docs(cordova-consent): add ATT documentation link
  website/docs/cordova/consent/request.md
Due: remark

docs(cordova): document banner offset option
  website/docs/cordova/ads/banner.md
Due: remark

docs: add a little branding to the readme (#279)
  README.md
Due: remark

README.md text fixes
  README.md
Due: remark

Highlight the fact this plug-in has regular updates
  README.md
Due: remark

docs(readme): text fixes (#280)
  README.md
Due: remark

docs(readme): highlight the fact this plug-in has regular updates (#281)
  README.md
Due: remark

feat(cli/doctor): check config.xml
  packages/cli/package.json
  packages/cli/src/doctor/cordova.ts
  packages/cli/src/doctor/index.ts
Due: none

docs(readme): center header
  README.md
Due: remark

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

chore(cordova/ios): remove unused init()
  packages/cordova/src/ios/AMBRewarded.swift
Due: swiftlint

docs(cordova): fix highlignted line
  website/docs/cordova/ads/banner.md
Due: remark

Styling of the logo in README
  README.md
Due: remark

docs(readme): styling of the logo (#283)
  README.md
Due: remark

docs: update issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: remark

build: update PLAY_SERVICES_VERSION via script
  website/docs/cordova/installation.mdx
  website/package.json
  website/scripts/gen.ts
Due: none

docs: update bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: remark

build(capacitor): use ignore pattern instead of delete
  packages/capacitor/package.json
Due: none

chore(cordova): add npa ad option
  examples/playground/package.json
  examples/playground/src/routes/BannerAd.tsx
  packages/cordova/ts/api.ts
  website/docs/cordova/api/index.md
  website/docs/cordova/api/interfaces/banneradoptions.md
  website/docs/cordova/api/interfaces/rewardedadoptions.md
  website/docs/cordova/api/interfaces/rewardedinterstitialadoptions.md
Due: remark

docs(cordova): document npa option
  website/docs/cordova/consent/request.md
Due: remark

feat(cli/doctor): rework using listr2
  packages/cli/package.json
  packages/cli/src/cmds/doctor.ts
  packages/cli/src/doctor/admob.ts
  packages/cli/src/doctor/cocoapods.ts
  packages/cli/src/doctor/context.ts
  packages/cli/src/doctor/cordova.ts
  packages/cli/src/doctor/index.ts
  packages/cli/src/doctor/listr.ts
  packages/cli/src/doctor/node.ts
  packages/cli/src/index.ts
Due: none

feat(cli/doctor): check ad server connection
  packages/cli/package.json
  packages/cli/src/doctor/index.ts
Due: none

feat(cordova): add banner load method
  internal/cli/src/gen/admob.ts
  packages/cordova/src/android/AdMob.java
  packages/cordova/src/android/Generated.java
  packages/cordova/src/android/ads/Banner.java
  packages/cordova/src/browser/AdMobProxy.js
  packages/cordova/src/ios/AMBBanner.swift
  packages/cordova/src/ios/AMBPlugin.swift
  packages/cordova/ts/banner.ts
  packages/cordova/ts/generated.ts
Due: swiftlint

feat(ionic): implement banner load method
  packages/ionic/src/index.ts
Due: none

docs: update API docs
  website/docs/cordova/api/classes/bannerad.md
  website/docs/cordova/api/enums/adsizetype.md
  website/docs/cordova/api/enums/events.md
  website/docs/cordova/api/enums/nativeactions.md
  website/docs/ionic/api/classes/admob.md
  website/docs/ionic/api/classes/bannerad.md
  website/docs/ionic/api/classes/interstitialad.md
  website/docs/ionic/api/classes/rewardedad.md
  website/docs/ionic/api/classes/rewardedinterstitialad.md
  website/docs/ionic/api/enums/trackingauthorizationstatus.md
Due: remark

chore(release): publish
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
Due: remark

feat(cli/doctor): check Cordova iOS preferences
  packages/cli/src/doctor/cordova.ts
Due: none

feat(cli/doctor): check Cordova iOS SWIFT_VERSION
  packages/cli/package.json
  packages/cli/src/doctor/cordova.ts
Due: none

refactor(cli/doctor): share swiftVersion via ctx
  packages/cli/src/doctor/cordova.ts
  packages/cli/src/doctor/index.ts
  packages/cli/src/doctor/listr.ts
Due: none

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: remark

Typo fix
  CHANGELOG.md
Due: remark

docs: fix typo (#291)
  CHANGELOG.md
Due: remark

feat(react-native): re-init package
  packages/react-native/.gitattributes
  packages/react-native/.gitignore
  packages/react-native/AdMobPlusRN.podspec
  packages/react-native/README.md
  packages/react-native/android/build.gradle
  packages/react-native/android/src/main/AndroidManifest.xml
  packages/react-native/android/src/main/java/admob/plus/rn/RNAdMobPlusModule.java
  packages/react-native/android/src/main/java/admob/plus/rn/RNAdMobPlusPackage.java
  packages/react-native/index.ts
  packages/react-native/ios/RNAdMobPlus-Bridging-Header.h
  packages/react-native/ios/RNAdMobPlus.h
  packages/react-native/ios/RNAdMobPlus.m
  packages/react-native/ios/RNAdMobPlus.podspec
  packages/react-native/ios/RNAdMobPlus.swift
  packages/react-native/ios/RNAdMobPlus.xcodeproj/project.pbxproj
  packages/react-native/ios/RNAdMobPlus.xcworkspace/contents.xcworkspacedata
  packages/react-native/ios/RNAdMobPlus.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/react-native/package.json
  packages/react-native/src/index.ts
  packages/react-native/tsconfig.json
  tsconfig.json
Due: remark, swiftlint

test: check pkg-deps before commit
  __tests__/package-json.ts
  lefthook.yml
  package.json
  packages/ionic/package.json
  packages/ionic/package.test.ts
  packages/react-native/package.json
Due: none

feat(react-native/ios): implement start()
  packages/react-native/ios/RNAdMobPlus.swift
Due: swiftlint

feat(react-native/android): implement start()
  packages/react-native/android/build.gradle
  packages/react-native/android/src/main/AndroidManifest.xml
  packages/react-native/android/src/main/java/admob/plus/rn/RNAdMobPlusModule.java
  packages/react-native/android/src/main/java/admob/plus/rn/RNAdMobPlusPackage.java
Due: none

feat(react-native/ios): implement InterstitialAd
  packages/react-native/ios/AMBAdBase.swift
  packages/react-native/ios/AMBContext.swift
  packages/react-native/ios/AMBGenerated.swift
  packages/react-native/ios/AMBInterstitial.swift
  packages/react-native/ios/RNAdMobPlus-Bridging-Header.h
  packages/react-native/ios/RNAdMobPlus.m
  packages/react-native/ios/RNAdMobPlus.swift
  packages/react-native/src/definitions.ts
  packages/react-native/src/index.ts
Due: swiftlint

perf(internal/cli): spawn usage, commands child processes together
  internal/cli/src/gen/cli.ts
  internal/cli/src/gen/index.ts
  package.json
Due: none

test: fix lint error
  .eslintrc.js
Due: none

chore: add monetization keyword
  packages/capacitor/package.json
  packages/cordova/package.json
  packages/ionic/package.json
  packages/react-native/package.json
Due: none

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
