Repository admob-plus/admob-plus: changes, and which lefthook commands are due for each by the changed paths.
All: remark, swiftlint, pkg-deps

remark:
  run: npx remark --no-stdout {staged_files}

swiftlint:
  run: npx node-swiftlint lint --strict --path {staged_files}

pkg-deps:
  run: npx jest test/package-json.test.ts

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/CHANGELOG.md
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  packages/pkg-proxy/CHANGELOG.md
  packages/pkg-proxy/package.json
  pnpm-lock.yaml
Due: remark

test(cordova): set source.coverage
  packages/cordova/package.json
Due: none

chore(internal/npm-bin): ignore uninstall
  examples/playground/package.json
  examples/playground/scripts/postinstall.ts
  internal/npm-bin/src/npm.ts
  packages/cordova-consent/package.json
  pnpm-lock.yaml
Due: none

refactor(cordova/android): inline configure()
  packages/cordova/src/android/cordova/AdMob.kt
  packages/cordova/src/android/cordova/ExecuteContext.kt
Due: none

feat(cordova/android): allow config sameAppKey
  examples/playground/config.xml
  packages/cordova/src/android/cordova/AdMob.kt
  packages/cordova/src/www/common.ts
Due: none

feat(scripts): update cordova plugin.xml
  pnpm-lock.yaml
  scripts/gen/cordova.ts
  scripts/package.json
Due: none

chore: update xml2js
  internal/cli/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: none

ci(github): upgrade gradle/gradle-build-action to v2.4.2
  .github/workflows/ci.yml
Due: none

docs(cordova/ios): add file:// crossorigin faq
  examples/playground/config.xml
  examples/playground/vite.config.ts
  website/docs/cordova/faq.md
Due: remark

feat(cordova/ios): update Google-Mobile-Ads-SDK to 10.6.0
  packages/cordova/plugin.xml
Due: none

ci(github): install chrome
  .github/workflows/ci.yml
Due: none

docs: update API docs
  website/docs/cordova/api/classes/AdMob.md
  website/docs/cordova/api/classes/AppOpenAd.md
  website/docs/cordova/api/classes/BannerAd.md
  website/docs/cordova/api/classes/InterstitialAd.md
  website/docs/cordova/api/classes/MobileAd.md
  website/docs/cordova/api/classes/NativeAd.md
  website/docs/cordova/api/classes/RewardedAd.md
  website/docs/cordova/api/classes/RewardedInterstitialAd.md
  website/docs/cordova/api/classes/WebViewAd.md
  website/docs/cordova/api/interfaces/AdMobConfig.md
  website/docs/cordova/api/interfaces/RequestConfig.md
  website/docs/cordova/consent/api/classes/Consent.md
  website/docs/cordova/consent/api/enums/ConsentStatus.md
  website/docs/cordova/consent/api/index.md
  website/docs/ionic/api/classes/AdMob.md
  website/docs/ionic/api/classes/BannerAd.md
  website/docs/ionic/api/classes/InterstitialAd.md
  website/docs/ionic/api/classes/NativeAd.md
  website/docs/ionic/api/classes/RewardedAd.md
  website/docs/ionic/api/classes/RewardedInterstitialAd.md
  website/package.json
Due: remark

test(example/ionic-angular): check file exists before set CHROME_BIN
  examples/ionic-angular/karma.conf.js
  examples/ionic-angular/package.json
  pnpm-lock.yaml
Due: none

docs(cordova): link with package name
  packages/cordova/README.md
Due: remark

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/CHANGELOG.md
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  pnpm-lock.yaml
Due: remark

build(cordova-consent): prefer prepare over prepublishOnly
  packages/cordova-consent/package.json
  packages/cordova-consent/tsconfig.json
  pnpm-lock.yaml
Due: none

refactor(cordova-native): utilize mapOf()
  packages/cordova-native/src/android/Plugin.kt
Due: none

fix(cordova/android): use thread-safe hash map, #592
  packages/cordova/src/android/cordova/ExecuteContext.kt
  packages/cordova/src/android/cordova/ads/Native.kt
Due: none

ci(github): cache chrome binary
  .github/workflows/ci.yml
  package.json
  packages/cordova/package.json
  pnpm-lock.yaml
Due: pkg-deps

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cordova-consent/CHANGELOG.md
  packages/cordova-consent/package.json
  packages/cordova-consent/plugin.xml
  packages/cordova-native/CHANGELOG.md
  packages/cordova-native/package.json
  packages/cordova-native/plugin.xml
  packages/cordova-webview-ad/CHANGELOG.md
  packages/cordova-webview-ad/package.json
  packages/cordova-webview-ad/plugin.xml
  packages/cordova/CHANGELOG.md
  packages/cordova/package.json
  packages/cordova/plugin.xml
  packages/ionic/CHANGELOG.md
  packages/ionic/package.json
  pnpm-lock.yaml
Due: remark

docs(cordova): mention about banner auto refresh
  website/docs/cordova/ads/banner.md
Due: remark

refactor(cordova-consent): remove unused code
  packages/cordova-consent/src/www/consent.ts
  packages/cordova-consent/src/www/generated.ts
  packages/cordova-consent/src/www/index.ts
  packages/cordova-consent/tsconfig.json
Due: none

fix(cordova-consent): include types in src/www
  packages/cordova-consent/src/www/cordova.d.ts
  packages/cordova-consent/tsconfig.json
Due: none

docs: update API docs
  packages/cordova-consent/src/www/index.ts
  website/docs/cordova/consent/api/classes/Consent.md
  website/docs/cordova/consent/api/classes/ConsentForm.md
  website/docs/cordova/consent/api/enums/ConsentStatus.md
  website/docs/cordova/consent/api/enums/DebugGeography.md
  website/docs/cordova/consent/api/enums/Events.md
  website/docs/cordova/consent/api/enums/FormStatus.md
  website/docs/cordova/consent/api/enums/TrackingAuthorizationStatus.md
  website/docs/cordova/consent/api/index.md
Due: remark

docs(cordova): add warning for native ad usage
  website/docs/cordova/ads/native.mdx
Due: none

docs: link to app open ad guidance
  website/docs/cordova/ads/app-open.md
Due: remark

feat(cordova/android): load app open ad without orientation
  packages/cordova/src/android/cordova/ads/AppOpen.kt
Due: none

feat(cordova): remove AppOpenAdOrientation
  packages/cordova/src/ios/AMBAppOpenAd.swift
  packages/cordova/src/www/ads/app-open.ts
Due: swiftlint

fix(cordova/android): remove ads item in main thread, #592
  packages/cordova/src/android/cordova/AdMob.kt
  packages/cordova/src/android/cordova/ads/AdBase.kt
Due: none

chore: update dependencies
  examples/cordova/package.json
  examples/playground/package.json
  internal/npm-bin/package.json
  package.json
  packages/cordova-consent/package.json
  packages/cordova-native/package.json
  packages/cordova-webview-ad/package.json
  packages/cordova/package.json
  packages/pkg-proxy/package.json
  pnpm-lock.yaml
  scripts/package.json
  website/package.json
Due: pkg-deps

docs: update API docs
  website/docs/cordova/api/classes/AppOpenAd.md
  website/docs/cordova/api/index.md
  website/docs/cordova/consent/api/classes/Consent.md
  website/docs/cordova/consent/api/classes/ConsentForm.md
  website/docs/cordova/consent/api/enums/ConsentStatus.md
  website/docs/cordova/consent/api/enums/DebugGeography.md
  website/docs/cordova/consent/api/enums/Events.md
  website/docs/cordova/consent/api/enums/FormStatus.md
  website/docs/cordova/consent/api/enums/TrackingAuthorizationStatus.md
Due: remark

docs(ionic): document the package is obsoleted
  website/docs/ionic/getting-started.md
  website/docs/ionic/upgrade.md
Due: remark

fix(cordova/android): do not crash when appVolume is not set
  examples/playground/package.json
  examples/playground/src/App.tsx
  examples/playground/src/pages/Home.tsx
  package.json
  packages/cordova/src/android/core/util.kt
  pnpm-lock.yaml
Due: pkg-deps

test(cordova/android): add optFloat() test
  examples/playground/package.json
  packages/cordova/tests/android/build.gradle
  packages/cordova/tests/android/util_test.kt
  packages/cordova/tests/package.json
  packages/cordova/tests/plugin.xml
  pnpm-lock.yaml
Due: none

fix(cordova/android): check null value correctly
  packages/cordova/src/android/core/util.kt
  packages/cordova/tests/android/util_test.kt
Due: none

fix(cordova/android): handle null correctly for optFloat()
  packages/cordova/src/android/core/util.kt
  packages/cordova/tests/android/util_test.kt
Due: none

refactor(cordova/android): remove unused methods
  packages/cordova/src/android/cordova/ExecuteContext.kt
Due: none

test(example/playground): prepare before test
  examples/playground/package.json
Due: none

Path conditions:
  remark: any of: *.md
  swiftlint: any of: *.swift
  pkg-deps: any of: package.json
